<script setup>
import ListedItem from '@/components/ListedItem.vue';
</script>

<template>
    <section class="md:mt-[120px] mt-16">
        <div class="_container">
            <div class="flex items-center justify-between mb-[51px] flex-wrap">
                <h2 class="ff-cinzel title-gradient md:text-4xl text-2xl font-bold inline-block">{{ data.title }}</h2>
                <div class="flex items-stretch md:w-auto w-full">
                    <button 
                        v-for="(item,key) in data.groups"
                        @click="switch_group(key)"
                        v-bind:class="{'active': key == active_group}"
                        class="font-semibold md:pt-[23px] md:pb-[21px] md:px-[54px] px-5 py-3 text-sm border-b-[3px] border-transparent relative text-white md:w-auto w-1/2"
                    >{{ item.name }}</button>
                </div>
            </div>
            
            <div v-if="active_group != ''" class="flex items-stretch justify-between flex-wrap xl:-mx-5" :key="page_size">
                <div
                    v-for="item in show_data"
                    class="xl:w-1/5 lg:w-1/4 md:w-1/3 w-1/2 md:px-5 px-3 md:mb-[54px] mb-5"
                >
                    <ListedItem
                        class="w-full max-w-[275px] mx-auto"
                        :data="item"
                    />
                </div>
            </div>
            <template v-if="nav_type == 'show_all'">
                <button 
                    class="hexagon_btn mx-auto block -mt-[5px]"
                    @click="show_all()"
                >
                    <div class="tracking-[-0.8px]">VIEW ALL</div>
                </button>
            </template>
            <template v-else-if="nav_type == 'arrows'">
                <div class="flex items-center justify-center mt-3">
                    <button
                        @click="switch_page(page-1)"
                        class="bg-transparent transition duration-500 hover:scale-125"
                    >
                        <img class="w-[59px] h-[59px]" src="/src/assets/img/arrow-left.svg" alt="">
                    </button>
                    <p class="text-lg text-white mx-5">{{ page }} of {{ pages }}</p>
                    <button
                        @click="switch_page(page+1)"
                        class="bg-transparent transition duration-500 hover:scale-125"
                    >
                        <img class="w-[59px] h-[59px]" src="/src/assets/img/arrow-right.svg" alt="">
                    </button>
                </div>
            </template>
        </div>
    </section>
</template>

<script>
    export default {
        props: ['data', 'nav_type'],
        data: function(){
            return {
                page: 1,
                pages: 5,
                page_size: 15,
                is_show_all: false,
                active_group: '',
                show_data: []
            }
        },
        methods: {
            filter: function(reset = false){
                if(reset) {
                    this.is_show_all = false;
                    this.page = 1;
                    if (this.nav_type == 'arrows') {
                        this.pages = Math.ceil(this.data.groups[this.active_group].list.length/this.page_size);
                    }
                }
                if (this.nav_type == 'show_all') {
                    if (this.is_show_all) {
                        this.show_data = this.data.groups[this.active_group].list;
                    } else {
                        this.show_data = this.data.groups[this.active_group].list.slice(0,this.page_size);
                    }
                } else if(this.nav_type == 'arrows') {
                    this.show_data = this.data.groups[this.active_group].list.slice(this.page_size*(this.page-1),this.page*this.page_size);
                }
            },
            switch_group: function(group) {
                this.active_group = group;
                this.filter(true);
            },
            show_all: function(){
                this.is_show_all = true;
                this.filter(); 
            },
            switch_page: function(page){
                if( page < 1 || page > this.pages ) {
                    return;
                }
                this.page = page;
                this.show_data = this.data.groups[this.active_group].list.slice(this.page_size*(this.page-1),this.page*this.page_size);
            },
            pageSizeInit: function(){
                var window_width = window.innerWidth;
                if (window_width <= 768) {
                    this.page_size = 6;
                }
                else if (window_width <= 992) {
                    this.page_size = 9;
                }
                else if (window_width <= 1280) {
                    this.page_size = 12;
                } else {
                    this.page_size = 15;
                }
                if (this.nav_type == 'arrows') {
                    this.pages = Math.ceil(this.data.groups[this.active_group].list.length/this.page_size);
                }
                this.filter();
            }
        },
        mounted: function(){
            this.active_group = this.data.init_active_group;
            if (this.nav_type == 'arrows') {
                this.pages = Math.ceil(this.data.groups[this.active_group].list.length/this.page_size);
            }
            this.filter();
            this.pageSizeInit();
            window.addEventListener('resize', this.pageSizeInit);
        }
    }
</script>

<style scoped>

.hexagon_btn div {
    padding: 12px 70px;
}

@media (max-width: 768px) {

    .hexagon_btn {
        margin-top: 12px;
    }
    
    .hexagon_btn div {
        padding: 10px 50px;
        font-size: 14px;
    }   
}

</style>