<script setup>
    import 'vue3-carousel/dist/carousel.css';
    import { Carousel, Slide } from 'vue3-carousel';
    import HomeFSCarouselItem from '@/components/HomeFSCarouselItem.vue';
</script>


<template>

    <section class="bg-no-repeat bg-right-top overflow-hidden md:pb-[92px] pb-10 bg-contain" style="background-image:url('/src/assets/img/home_fs_bg.png')">
        <div class="_container">
            <div class="flex justify-between">
                <div class="lg:w-1/2 w-full">
                    <h1 class="ff-cinzel title-gradient md:text-4xl text-2xl font-bold inline-block mt-[86px]">Complete your collection</h1>
                    <p class="text-gray text-sm leading-snug max-w-[500px] mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor ipsum, tortor, fames lectus velit dolor, consec adipiscing.</p>
                    
                    <div class="w-full lg:hidden block max-w-[550px]">
                        <div class="flex flex-wrap justify-between items-center ff-cinzel mt-6 mb-[15px]">
                            <h2 class="title-gradient text-lg font-bold">Genesis protectors left</h2>
                            <p class="text-white text-sm text-shadow font-bold pt-1">4233 remaining</p>
                        </div>
                        <div class="proggress_wrap relative">
                            <div class="proggress relative p-1 -mx-1">
                                <p 
                                    v-bind:style="{'width':progress.val}"
                                    class="text-right font-bold text-sm text-shadow text-white ff-cinzel p-[7px_14px_5px_8px]"
                                >{{ progress.caption }}</p>
                            </div>
                            <div 
                                class="breackpoint absolute h-[calc(100%+8px)] -top-1 w-px bg-white"
                                v-for="(item, key) in progress.breackpoints"
                                v-bind:style="{'left': key}"
                            >
                                <span class="absolute text-white text-xs top-[calc(100%+10px)] w-0 whitespace-nowrap flex items-center justify-center">{{item}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="flex items-stretch justify-between mt-9 max-w-[574px]">
                        <button
                            class="w-1/3 font-semibold py-5 border-b-[3px] border-transparent relative"
                            v-bind:class="{
                                'active text-white ': item.name == carousel.show_group_name,
                                'text-gray': item.name != carousel.show_group_name
                            }"
                            @click="carousel.show_group_name = item.name"
                            v-for="item in carousel.groups"
                        >{{ item.title }}</button>
                    </div>
                </div>
                <div class="w-1/2 pl-8 max-w-[518px] pr-1.5 lg:block hidden">
                    <div class="flex flex-wrap justify-between items-center ff-cinzel mt-[136px] mb-[15px]">
                        <h2 class="title-gradient text-2xl font-bold">Genesis protectors left</h2>
                        <p class="text-white text-sm text-shadow font-bold pt-1">4233 remaining</p>
                    </div>
                    <div class="proggress_wrap relative">
                        <div class="proggress relative p-1 -mx-1">
                            <p 
                                v-bind:style="{'width':progress.val}"
                                class="text-right font-bold text-sm text-shadow text-white ff-cinzel p-[7px_14px_5px_8px]"
                            >{{ progress.caption }}</p>
                        </div>
                        <div 
                            class="breackpoint absolute h-[calc(100%+8px)] -top-1 w-px bg-white"
                            v-for="(item, key) in progress.breackpoints"
                            v-bind:style="{'left': key}"
                        >
                            <span class="absolute text-white text-xs top-[calc(100%+10px)] w-0 whitespace-nowrap flex items-center justify-center">{{item}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="relative xl+:max-w-none mx-auto md:max-w-[calc(100%-80px)]">
                <carousel
                    ref="carousel"
                    class="mt-[51px] max-w-[calc(100%-32px)] mx-auto"
                    snapAlign="start"
                    :breakpoints="{
                        0: {
                            itemsToShow: 1.3
                        },
                        600: {
                            itemsToShow: 2
                        },
                        768: {
                            itemsToShow: 3
                        },
                        1100: {
                            itemsToShow: 4
                        }
                    }"
                >
                    <slide
                        v-for="(item, key) in carousel.lists[carousel.show_group_name]"
                        :key="key"
                    >
                        <div class="w-full px-4">
                            <HomeFSCarouselItem class="max-w-[275px] mx-auto" :data="item"/>
                        </div>
                    </slide>
                </carousel>
                <button class="absolute md:top-[calc(50%-51px)] top-[calc(50%-32px)] md:left-[-47px] left-0 md:w-auto w-16 md:h-auto h-16 transition duration-500 hover:scale-125" @click="$refs.carousel.prev()">
                    <img src="/src/assets/img/arrow-left.svg" alt="">
                </button>
                <button class="absolute md:top-[calc(50%-51px)] top-[calc(50%-32px)] md:right-[-47px] right-0 md:w-auto w-16 md:h-auto h-16  transition duration-500 hover:scale-125" @click="$refs.carousel.next()">
                    <img src="/src/assets/img/arrow-right.svg" alt="">
                </button>
            </div>
            
        </div>
    </section>

</template>

<script>
    export default {
        data: function(){
            return {
                progress: {
                    val: '38.6%',
                    caption: '108 sold',
                    breackpoints: {
                        '17.2%': 'Lorem Ipsum',
                        '50%': 'Lorem Ipsum',
                        '82.7%': 'Lorem Ipsum',
                    }
                },
                carousel: {
                    show_group_name: 'protectors',
                    groups: [
                        {
                            title: 'Protectors',
                            name: 'protectors'
                        },
                        {
                            title: 'Satanic',
                            name: 'satanic'
                        },
                        {
                            title: 'Forgotten',
                            name: 'forgotten'
                        }
                    ],
                    lists: {
                        protectors: [
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper',
                                url: '#test'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                        ],
                        satanic: [
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper satanic',
                                url: '#test'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                        ],
                        forgotten: [
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper forgotten',
                                url: '#test'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                            {
                                icon: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                img_url:  new URL('../../assets/img/card_1_img.png', import.meta.url).href,
                                name: 'record keeper'
                            },
                        ],
                    }
                }
            }
        }
    }
</script>

<style scoped>

    .text-shadow {
        text-shadow: 1px 1px 0px #18120E;
    }

    .proggress {
        background: radial-gradient(41.16% 73.23% at 50% 50%, rgba(223, 202, 146, 0.16) 0%, rgba(29, 18, 15, 0.16) 100%), #17100E;
        clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%, 10px 100%, 0 50%);
    }
    .proggress p {
        background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
        clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%, 10px 100%, 0 50%);
    }
</style>