<template>
    <section class="pt-[50px]">
        <div class="bg-cover bg-no-repeat" style="background-image: url('/src/assets/img/future-bg 1.png');">
            <div class="flex items-start justify-between max-w-[1106px] mx-auto px-[15px]">
                <img class="lg:mt-[-48px] lg:w-auto w-1/5 mt-4 md:block hidden" src="/src/assets/img/red-char 1.png" alt="">
                <div class="max-w-[540px] pb-6 mx-auto">
                    <h2 class="title-gradient md:text-center text-left md:text-4xl sm:text-2xl text-lg font-bold ff-cinzel md:mt-[60px] mt-0">Your inventory</h2>
                    <p class="text-gray md:text-sm text-xs leading-snug md:text-center text-left mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor ipsum, tortor, fames lectus velit dolor, consec adipiscing.</p>
                    <a class="hexagon_btn block md:text-center text-left max-w-[267px] mx-auto mt-[33px]" href="#">
                        <div class="md:h-[62px] h-[38px] flex items-center justify-center md:text-lg text-sm">Connect wallet</div>
                    </a>
                </div>
                <img class="lg:mt-[-75px] mr-[29px] -ml-2 lg:w-auto md:w-1/5 w-1/3 md:block" src="/src/assets/img/yellow-char 1.png" alt="">
            </div>
        </div>
    </section>
</template>

<script>
    export default {
    }
</script>