<script setup>
import Back from '@/components/Back.vue';
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide } from 'vue3-carousel';
</script>

<template>
    <section class="pt-[50px] overflow-hidden">
        <div v-if="show_back == '1'" class="_container">
            <Back/>   
        </div>
        <div class="bg-cover bg-no-repeat pb-10" style="background-image: url('/src/assets/img/future-bg-1-full.png');">
            <div class="flex items-start justify-between max-w-[1106px] mx-auto px-[15px]">
                <div class="max-w-[540px] pb-6 mx-auto">
                    <h2 class="title-gradient text-center md:text-4xl text-2xl font-bold ff-cinzel mt-[60px]">Your inventory</h2>
                    <p class="text-gray text-sm leading-snug text-center mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor ipsum, tortor, fames lectus velit dolor, consec adipiscing.</p>
                </div>
            </div>
            <div class="_container mt-[9px]">
                <div class="flex items-stretch justify-center mb-[115px]">
                    <button 
                        v-for="(item,key) in groups"
                        @click="active_group = key"
                        v-bind:class="{'active': active_group == key }"
                        class="font-semibold md:pt-[23px] md:pb-[21px] md:px-[54px] px-5 py-3 text-sm border-b-[3px] border-transparent relative text-white"
                    >{{ item.name }}</button>
                </div>
                <div 
                    :key="active_group"
                    class="md:flex hidden items-center justify-center flex-wrap md:-mx-[3.5%]"
                >
                    <a 
                        class="relative md:w-1/3 w-full md:mx-[3.5%] max-w-[377px] md:mb-[66px] mb-10 inventory_item"
                        v-for="item in groups[active_group].items"
                        v-bind:href="item.url"
                    >
                        <div class="relative pt-[133%] w-full">
                            <img
                                class="absolute w-full h-full object-contain top-0 right-0"
                                v-bind:src="item.img_url" alt=""
                            >
                        </div>
                        <div class="flex items-center md:justify-between justify-center texts lg:py-[22px] lg:px-[45px] py-3 px-5">
                            <div class="min-w-[50px]">
                                <img class="w-full" v-bind:src="item.icon_url" alt="">
                            </div>
                            <div class="md:w-full pl-2">
                                <h3 class="text-white ff-cinzel font-bold text-lg">{{ item.name }}</h3>
                                <p class="text-gray text-sm relative bottom-0.5">{{ item.tag }}</p>
                            </div>
                        </div>
                    </a>
                </div>

                <carousel
                    ref="carousel"
                    class="mt-5 md:hidden block -mx-4"
                    snapAlign="start"
                    :itemsToShow="1.2"
                >
                    <slide
                        v-for="item in groups[active_group].items"
                        :key="key"
                    >
                        <a 
                            class="relative w-full md:mx-[3.5%] max-w-[377px] px-4"
                            v-bind:href="item.url"
                        >
                            <div class="relative pt-[133%] w-full">
                                <img
                                    class="absolute w-full h-full object-contain top-0 right-0"
                                    v-bind:src="item.img_url" alt=""
                                >
                            </div>
                            <div class="flex items-center md:justify-between justify-center texts lg:py-[22px] lg:px-[45px] py-3 px-5">
                                <div class="min-w-[50px]">
                                    <img class="w-full" v-bind:src="item.icon_url" alt="">
                                </div>
                                <div class="md:w-full pl-2">
                                    <h3 class="text-white ff-cinzel font-bold text-lg">{{ item.name }}</h3>
                                    <p class="text-gray text-sm relative bottom-0.5">{{ item.tag }}</p>
                                </div>
                            </div>
                        </a>
                    </slide>
                </carousel>


            </div>
        </div>
    </section>
</template>

<script>
    export default {
        props: ['show_back'],
        data: function(){
            return {
                active_group: 'protectors',
                groups: {
                    protectors: {
                        name: 'Protectors',
                        items: [
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper',
                                tag: 'Forgotten'
                            },
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper',
                                tag: 'Forgotten'
                            },
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper',
                                tag: 'Forgotten'
                            },
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper',
                                tag: 'Forgotten'
                            },
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper',
                                tag: 'Forgotten'
                            }
                        ]
                    },
                    satanic: {
                        name: 'Satanic',
                        items: [
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper 2',
                                tag: 'Forgotten'
                            },
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper 2',
                                tag: 'Forgotten'
                            },
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper 2',
                                tag: 'Forgotten'
                            },
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper 2',
                                tag: 'Forgotten'
                            },
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper 2',
                                tag: 'Forgotten'
                            }
                        ]
                    },
                    forgotten: {
                        name: 'Forgotten',
                        items: [
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper 3',
                                tag: 'Forgotten'
                            },
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper 3',
                                tag: 'Forgotten'
                            },
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper 3',
                                tag: 'Forgotten'
                            },
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper 3',
                                tag: 'Forgotten'
                            },
                            {
                                url: '#',
                                img_url: new URL('../../assets/img/intentroy_item.png', import.meta.url).href,
                                icon_url: new URL('../../assets/img/card_1_icon.png', import.meta.url).href,
                                name: 'record keeper 3',
                                tag: 'Forgotten'
                            }
                        ]
                    }
                }
            }
        }
    }
</script>

<style scoped>
._container {
    max-width: 1494px;
}

.inventory_item {
    transition: .5s;
}

.inventory_item:hover {
    transform: translateY(-12px);
    filter: drop-shadow(0px 0px 30px #ffff7d);
}
</style>