<script setup>
import Back from '@/components/Back.vue';
import Popup from '@/components/Popup.vue';
</script>

<template>
    <section class="">
        <div class="_container md:py-16 py-10">
            <Back/><br>
            <h1 class="inline-block title-gradient ff-cinzel font-bold md:text-4xl text-2xl leading-snug md:mt-[30px] mt-[21px] pl-[5px] md:pl-0">Account settings</h1>
            <div class="flex flex-wrap md:flex-nowrap items-start justify-between md:mt-8 mt-5">
                <div class="md:w-[29%] w-full md:max-w-[300px] md:mr-[30px] md:block flex items-start justify-between px-1 md:px-0">
                    <div class="md:w-full w-[40%] min-w-[130px]">
                        <div class="avatar_wrap relative md:pt-[101%] pt-[116%] min-w-[130px] md:mr-0">
                            <img class="absolute inset-[2px] object-cover w-[calc(100%-4px)] h-[calc(100%-4px)]" src="/src/assets/img/avatar.png" alt="">
                        </div>  
                    </div>
                    <div class="w-[60%] md:w-full pl-2.5 md:pl-0">
                        <button
                            class="text-white border border-blue md:text-sm text-xs font-bold leading-snug text-center w-full md:py-4 py-3 md:mt-5"
                        >Change Profile Picture</button>
                        <a class="flex items-center justify-start md:border-none border border-gray md:mt-[35px] mt-[13px] md:p-0 p-[11px_10px_13px]" href="#">
                            <img class="md:w-6 md:h-6 w-4 h-4" src="/src/assets/img/icon-unlink.svg" alt="">
                            <span class="text-gray hover:text-white transition duration-500 md:text-base text-xs md:ml-3 ml-2.5">Unlink Wallet</span>
                        </a>
                        <a class="flex items-center justify-start md:border-none border border-gray md:mt-7 mt-3 md:p-0 p-[11px_10px_13px]" href="#">
                            <img class="md:w-6 md:h-6 w-4 h-4" src="/src/assets/img/icon-logout.svg" alt="">
                            <span class="text-gray hover:text-white transition duration-500 md:text-base text-xs md:ml-3 ml-2.5">Logout</span>
                        </a>
                    </div>
                </div>

                <div class="md:w-[73.7%] w-full">
                    <div class="max-w-[800px] md:px-0 px-1 md:mt-0 mt-4">
                        <p class="md:text-base text-sm font-semibold text-white leading-snug md:mb-5 mb-2.5">Wallet address</p>
                        <div class="relative">
                            <input class="w-full border border-gray bg-transparent text-blue md:text-sm leading-snug md:py-4 md:px-5 p-2.5 text-xs outline-0" readonly value="0x17918b7831F34a873C57d9F680d56082AC4676E5" type="text">
                            <button class="underline border-none md:text-sm bg-bg_primary text-white absolute md:right-5 right-3 md:top-[17px] top-3 hover:text-gold transition duration-500 pl-1">
                                <span class="md:inline hidden">COPY</span>
                                <img class="md:hidden block" src="/src/assets/img/icon-copy.svg" alt="">
                            </button>
                        </div>

                        <p class="md:text-base text-sm font-semibold text-white leading-snug md:mb-[21px] mb-2.5 md:mt-10 mt-5">Name</p>
                        <div class="flex items-center justify-between flex-wrap md:flex-nowrap">
                            <input class="md:w-[65.2%] w-full border border-gray bg-transparent text-white md:text-sm font-bold leading-snug md:py-4 md:px-5 p-2.5 text-sm outline-0" readonly value="Satanic Warrior" type="text">
                            <button @click="$refs.change_name.switch()" class="text-white text-sm leading-snug font-bold text-center md:w-[32.4%] w-full md:mt-0 mt-[11px] bg-blue border border-blue md:py-4 py-2.5 hover:bg-white hover:text-blue transition duration-500">Change Name</button>
                        </div>

                        <p class="md:text-base text-sm font-semibold text-white leading-snug md:mb-[21px] mb-2.5 md:mt-10 mt-5">Email</p>
                        <div class="flex items-center justify-between flex-wrap md:flex-nowrap">
                            <div class="relative md:w-[65.2%] w-full border border-gray email_input_wrap">
                                <input class="w-full bg-transparent text-white md:text-sm leading-snug md:py-4 md:px-5 p-2.5 text-xs outline-0" readonly value="example@mail.com" type="text">
                                <button @click="$refs.change_email.switch()" class="underline border-none md:text-sm text-[10px] bg-bg_primary text-white absolute right-[13px] md:top-[17px] top-2.5 hover:text-gold transition duration-500">CHANGE EMAIL</button>
                            </div>
                            <button @click="$refs.verify_email.switch()" class="text-white text-sm leading-snug font-bold text-center md:w-[32.4%] w-full md:mt-0 mt-[11px] bg-blue border border-blue md:py-4 py-2.5 hover:bg-white hover:text-blue transition duration-500 verify_btn">Verify Email</button>
                        </div>

                        <p class="md:text-base text-sm font-semibold text-white leading-snug md:mb-[21px] mb-2.5 md:mt-10 mt-5">Email</p>
                        <div class="flex items-center justify-between flex-wrap md:flex-nowrap email_verified">
                            <div class="relative md:w-[65.2%] w-full border border-gray email_input_wrap">
                                <img class="w-5 h-5 absolute md:left-5 md:top-4 top-2.5 left-2.5" src="/src/assets/img/icon-success.svg" alt="">
                                <input class="w-full bg-transparent text-white md:text-sm leading-snug md:py-4 md:px-5 p-2.5 text-xs outline-0" readonly value="example@mail.com" type="text">
                                <button @click="$refs.change_email.switch()" class="underline border-none md:text-sm text-[10px] bg-bg_primary text-white absolute right-[13px] md:top-[17px] top-2.5 hover:text-gold transition duration-500">CHANGE EMAIL</button>
                            </div>
                            <button @click="$refs.verify_email.switch()" class="text-white text-sm leading-snug font-bold text-center md:w-[32.4%] w-full md:mt-0 mt-[11px] bg-blue border border-blue md:py-4 py-2.5 hover:bg-white hover:text-blue transition duration-500 verify_btn">Verify Email</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <Popup
        ref="verify_email"
        content_class="bg-bg_primary w-full max-w-[604px] text-center pt-[78px] pb-[60px] px-8"
    >
        <div class="max-w-[400px] w-full mx-auto">
            <h3 class="text-white md:text-2xl text-lg leading-snug font-semibold">VERIFY YOUR EMAIL</h3>
            <p class="text-gray text-sm leading-snug mt-3 md:mb-9 mb-[30px]">A OTP code has been sent to your email, insert it to verify your account</p>
            <form action="#">
                <input class="md:text-base text-sm block w-full py-4 text-center bg-transparent border border-gray text-white mb-5" placeholder="Enter code" type="text">
                <input class="md:text-base text-sm text-white py-4 bg-blue border border-gray w-full font-bold cursor-pointer hover:text-blue hover:bg-white transition duration-500" value="VERIFY" type="submit">
            </form>
        </div>
    </Popup>

    <Popup
        ref="change_email"
        content_class="bg-bg_primary w-full max-w-[604px] text-center pt-[78px] pb-[60px] px-8"
    >
        <div class="max-w-[400px] w-full mx-auto">
            <h3 class="text-white md:text-2xl text-lg leading-snug font-semibold">CHANGE YOUR EMAIL</h3>
            <p class="text-gray text-sm leading-snug mt-3 md:mb-9 mb-[30px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim volutpat orci quam volutpat.</p>
            <form action="#">
                <input class="md:text-base text-sm block w-full py-4 text-center bg-transparent border border-gray text-white mb-5" placeholder="example@gmail.com" type="email">
                <input class="md:text-base text-sm text-white py-4 bg-blue border border-gray w-full font-bold cursor-pointer hover:text-blue hover:bg-white transition duration-500" value="SAVE" type="submit">
            </form>
        </div>
    </Popup>

    <Popup
        ref="change_name"
        content_class="bg-bg_primary w-full max-w-[604px] text-center pt-[78px] pb-[60px] px-8"
    >
        <div class="max-w-[400px] w-full mx-auto">
            <h3 class="text-white md:text-2xl text-lg leading-snug font-semibold">CHANGE YOUR NAME</h3>
            <p class="text-gray text-sm leading-snug mt-3 md:mb-9 mb-[30px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim volutpat orci quam volutpat.</p>
            <form action="#">
                <input class="md:text-base text-sm block w-full py-4 text-center bg-transparent border border-gray text-white mb-5" placeholder="Enter new name" type="text">
                <input class="md:text-base text-sm text-white py-4 bg-blue border border-gray w-full font-bold cursor-pointer hover:text-blue hover:bg-white transition duration-500" value="SAVE" type="submit">
            </form>
        </div>
    </Popup>
</template>

<script>
    export default {
        data: function(){
            return {

            }
        }
    }
</script>

<style scoped>
    .avatar_wrap {
        background: linear-gradient(315deg, #DBCEB0 -31.91%, #875E31 26.56%, #F0DCA2 46.57%, #604121 55.08%, #EDD995 73.28%, #573A1B 90.31%, #BAAA85 101.27%);
    }

    .email_verified .verify_btn {
        display: none;
    }

    .email_verified .email_input_wrap {
        width: 100%;
        padding-left: 30px;
    }
</style>