<script setup>
import Back from '@/components/Back.vue';
</script>

<template>

<section class="page_bg_img md:py-[63px] py-10 overflow-hidden" style="background-image: url('/src/assets/img/character-bg.png');">
    <div class="_container">
        <Back class="relative z-50"/>
        <div class="flex flex-wrap-reverse items-center justify-between">
            <div class="lg:w-[40%] w-full max-w-[478px] mx-auto lg:mx-0 md:px-0 px-1">
                <h1 class="title-gradient inline-block md:text-4xl text-2xl ff-cinzel leading-snug font-bold lg:mt-[88px] mt-[5px]">Character box - Satanic</h1>
                <p class="text-gray md:text-sm text-xs leading-snug mt-2.5 pr-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor ipsum, tortor, fames lectus velit dolor, consec adipiscing.</p>
                <form class="md:mt-[19px] mt-[26px]" action="#">
                    <div class="flex items-center justify-between bg_img border border-opacity_white md:max-w-[273px] max-w-[210px] md:p-[7px_21px_8px_19px] p-[4px_17px_6px_15px]">
                        <div class="flex items-center justify-between">
                            <div @click="count--" class="select-none prev_next -prev md:w-6 md:h-6 w-[18px] h-[18px]"></div>
                            <input class="bg-transparent md:w-[47px] w-[35px] text-center outline-0 md:text-[26px] text-lg text-white font-bold md:pt-[3px]" readonly type="text" v-model="count">
                            <div @click="count++" class="select-none prev_next -next md:w-6 md:h-6 w-[18px] h-[18px]"></div>
                        </div>
                        <div class="text-right">
                            <p class="text-gold md:text-lg text-sm font-bold ff-cinzel">0.01 ETH</p>
                            <p class="text-gray md:text-xs text-[10px]">$198.02</p>
                        </div>
                    </div>
                    <button type="submit" class="hexagon_btn md:mt-8 mt-3 w-full md:max-w-[268px] max-w-[206px]">
                        <div class="md:text-lg text-sm ">buy mystery box</div>
                    </button>
                </form>
                <h2 class="md:text-4xl text-2xl title-gradient inline-block ff-cinzel font-bold mt-[51px]">Drop rate</h2>
                <div class="flex flex-wrap justify-between md:mt-[21px] mt-[13px] max-w-[473px]">
                    <div v-for="i in 2" class="md:w-[calc(50%-10px)] w-[calc(50%-6px)] mb-5 flex items-center justify-between md:p-4 p-2.5 border border-gray">
                        <img class="md:w-[42px] w-[29px] h-[42px] md:mr-4 mr-2" src="/src/assets/img/Rectangle 40.png" alt="">
                        <div class="w-full">
                            <h3 class="text-white font-bold leading-snug md:text-base text-sm -mr-1">Record Keeper</h3>
                            <p class="text-gray md:text-sm text-xs leading-snug mb-1 md:mb-0">50% chance</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lg:w-[41.1%] max-w-[500px] w-full md:mt-[-3.4%] mt-[-9%] md:px-0 px-5 mx-auto lg:mx-0 right_part relative">
                <img class="max-w-full" src="/src/assets/img/box-single-img.png" alt="">
            </div>
        </div>
    </div>
</section>

</template>

<script>
    export default {
        data: function(){
            return {
                count: 1
            }
        }
    }
</script>

<style scoped>

.bg_img {
    background: url('/src/assets/img/future-bg-1-full.png') no-repeat;
    background-size: cover;
    background-position: bottom;
}

.hexagon_btn {
    background: linear-gradient(270deg, #CDB0DB -6.64%, #5C3187 46.11%, #CEA2F0 64.16%, #4C2160 71.84%, #C695ED 88.26%, #391B57 103.63%, #A985BA 113.51%);


}

.hexagon_btn div {
    background: radial-gradient(41.16% 73.23% at 50% 50%, rgba(223, 202, 146, 0.11) 0%, rgba(29, 18, 15, 0.11) 100%) ,#050207;
    color: white;
    padding: 18px 16px;
}

.page_bg_img {
    background-repeat: no-repeat;
    background-position: 63% 35px;
    background-size: 48.47% auto;
}

.prev_next {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #D7C181;
    position: relative;
}

.prev_next::before,
.prev_next::after {
    content: '';
    width: 12px;
    height: 2px;
    background: #D7C181;
    position: absolute;
}

.prev_next.-next::after {
    transform: rotate(90deg);
}

.right_part::before {
    background: radial-gradient(41.16% 73.23% at 50% 50%, rgba(223, 202, 146, 0.25) 0%, rgba(29, 18, 15, 0.1325) 100%);
    width: 160%;
    height: 117%;
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: blur(42px);
}

@media (max-width: 768px) {
    .prev_next::before,
    .prev_next::after {
        width: 9px;
        height: 1px;
    }

    .hexagon_btn div {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

</style>