<script setup>
import ListedItem from '@/components/ListedItem.vue';
import Popup from '@/components/Popup.vue';
</script>

<template>
    <section class="pb-24">
        <div class="lg:border-b lg:border-[#2F2636] border-b-none">
            <div class="_container flex items-center justify-between">
                <h1 class="title-gradient font-bold lg:text-4xl text-2xl lg:w-full max-w-[286px] lg:max-w-[unset] ff-cinzel py-6 lg:mt-0 mt-6 lg:pl-0 pl-1 lg:leading-snug leading-none">buy from marketplace</h1>
                <div class="items-stretch mt-[22px] mb-[-1px] lg:flex hidden">
                    <button 
                        v-for="(item,key) in groups"
                        @click="active_group = key"
                        v-bind:class="{'active': key == active_group}"
                        class="font-semibold md:pt-[23px] md:pb-[21px] md:px-[54px] px-5 py-3 text-sm border-b-[3px] border-transparent relative text-white"
                    >{{ item.name }}</button>
                </div>
            </div>
        </div>

        <div class="_container flex items-start justify-between lg:mt-[61px] mt-1.5 lg:flex-nowrap flex-wrap">
            <div class="lg:w-1/4 w-full min-w-[250px] lg:max-w-[273px] lg:relative mb-5 fixed lg:right-0 lg:top-0 right-2 top-2 max-w-[calc(100%-16px)] max-h-[calc(100%-16px)] lg:max-h-[unset] z-50 overflow-auto lg:overflow-visible"
                v-bind:class="{'lg:block hidden': !is_show_filters}"
            >
                <div class="filter_wrap relative">
                    <img class="absolute bottom-full left-[18px]" src="/src/assets/img/decor-sm-top.svg" alt="">
                    <img class="absolute left-full bottom-[18px]" src="/src/assets/img/decor-sm-right.svg" alt="">
                    <img class="absolute top-full right-[18px]" src="/src/assets/img/decor-sm-bottom.svg" alt="">
                    <img class="absolute right-full top-[18px]" src="/src/assets/img/decor-sm-left.svg" alt="">
                    <div class="gradient_block absolute -left-0.5 -top-0.5 h-9 w-[26px]"></div>
                    <div class="gradient_block absolute -right-0.5 -bottom-0.5 h-9 w-[26px]"></div>
                    <div class="bg-bg_primary w-full">
                        <div class="flex items-center justify-between border-b border-gray p-[15px_2px_8px_12px]">
                            <h3 class="title-gradient text-lg font-semibold">FILTER</h3>
                            <button @click="clear_filters" class="text-white font-semibold bg-transparent p-2">Clear all</button>
                        </div>
                        <div class="">
                            <div class="border-b border-gray py-[31px] px-3">
                                <div class="flex items-center justify-between" @click="filters.hero.is_open = !filters.hero.is_open">
                                    <h3 class="text-white text-sm font-semibold">Hero</h3>
                                    <img 
                                        class="transition duration-500"
                                        v-bind:class="{'transform -scale-100':!filters.hero.is_open}"
                                        src="/src/assets/img/filter-arrow.svg" 
                                        alt=""
                                    >
                                </div>
                                <div 
                                    v-bind:class="{'hidden': !filters.hero.is_open}"
                                    class=""
                                >
                                    <template v-if="Object.keys(hero_selected).length == 0">
                                        <p class="text-xs text-gray font-semibold py-3">No hero selected</p>
                                    </template>
                                    <template v-else>
                                        <div class="flex items-stretch justify-start flex-wrap -mx-1 mt-3">
                                            <div v-for="item in hero_selected" class="w-1/5 px-1 mb-2">
                                                <div class="relative pt-[100%] w-full">
                                                    <img class="absolute top-0 right-0 w-full h-full object-contain" v-bind:src="item.img_url" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </template>

                                    <button @click="$refs.select_hero.switch()" class="text-sm text-white font-semibold pt-[11px] pb-2.5 text-center w-full border border-gray mt-2.5 -mb-0.5 transition duration-500 hover:text-bg_primary hover:bg-gold">Choose Hero</button>
                                </div>
                                
                            </div>

                            <div
                                v-for="(item,key) in filters.checkboxes" 
                                class="border-b border-gray py-6 px-3">
                                <div class="flex items-center justify-between" @click="item.is_open = !item.is_open">
                                    <h3 class="text-white text-sm font-semibold">{{ key }}</h3>
                                    <img 
                                        class="transition duration-500"
                                        v-bind:class="{'transform -scale-100':!item.is_open}"
                                        src="/src/assets/img/filter-arrow.svg" 
                                        alt=""
                                    >
                                </div>
                                <div 
                                    v-bind:class="{'hidden': !item.is_open}"
                                    class="mt-[25px] mb-[5px]"
                                >
                                    <div 
                                        v-for="option in item.list"
                                        class="flex items-center justify-start mb-3.5 last:mb-0 cursor-pointer"
                                        @click="option.checked = !option.checked"
                                    >
                                        <div class="w-4 h-4 flex items-center justify-center transition duration-500"
                                            v-bind:class="{
                                                'border border-gray': !option.checked,
                                                'bg-gold': option.checked
                                            }"
                                        >
                                            <img class="w-2.5 h-[7px]" src="/src/assets/img/check.svg" alt="">
                                        </div>
                                        <p 
                                            v-bind:class="{
                                                'text-gray': !option.checked,
                                                'text-white': option.checked
                                            }"
                                             class="text-sm font-semibold ml-2 transition duration-500">{{ option.label }}</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <button 
                            class="mx-2 mb-4 lg:hidden w-[calc(100%-16px)] py-4 font-bold mt-6 bg-transparent text-white border border-gray transition duration-500 hover:text-bg_primary hover:bg-gold"
                            @click="is_show_filters = false"
                        >APPLY</button>
                    </div>
                </div>
            </div>
            <div class="lg:w-3/4 w-full max-w-[966px]">
                <div class="flex items-center justify-between w-full">
                    <div class="lg:max-w-[273px] max-w-[169px] lg:ml-auto relative gradient_block p-0.5 cursor-pointer select-none w-full">
                        <div class="bg-bg_primary lg:py-3.5 py-2 lg:px-4 px-2" @click="order_by.is_open = !order_by.is_open">
                            <p class="">
                                <span class="title-gradient font-semibold lg:text-lg text-xs">{{ order_by.list[order_by.selected].group }}</span>
                                <span class="font-semibold lg:text-lg text-xs text-white ml-1"> {{ order_by.list[order_by.selected].val }}</span>
                                <img class="absolute transform -scale-100 right-0 lg:top-2 top-1.5 lg:w-auto w-4 lg:h-auto h-4" src="/src/assets/img/filter-arrow.svg" alt="">
                            </p>
                        </div>
                        <div 
                            class="absolute gradient_block p-0.5 w-full top-full right-0 z-10"
                            v-bind:class="{'hidden': !order_by.is_open}"
                        >
                            <div class="bg-bg_primary">
                                <div 
                                    v-for="(item, key) in order_by.list" 
                                    @click="set_order(key)"
                                    class="py-2 px-3"
                                >
                                    <span class="font-semibold text-white ml-1 text-xs">{{ item.group }} {{ item.val }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button @click="is_show_filters=true" class="lg:hidden block">
                        <img src="/src/assets/img/icon-filter.svg" alt="">
                    </button>
                </div>

                <div class="items-stretch mb-[-1px] lg:hidden flex justify-center mt-4">
                    <button 
                        v-for="(item,key) in groups"
                        @click="active_group = key"
                        v-bind:class="{'active': key == active_group}"
                        class="font-semibold md:pt-[23px] md:pb-[21px] md:px-[54px] px-5 py-[23px] text-sm border-b-[3px] border-transparent relative text-white w-1/2"
                    >{{ item.name }}</button>
                </div>

                <div class="flex items-stretch justify-between flex-wrap xl:-mx-5 mt-7">
                    <div
                        v-for="item in groups[active_group].list"
                        class="xl:w-1/3 lg:w-1/2 md:w-1/3 w-1/2 md:px-5 px-3 mb-[54px]"
                    >
                        <ListedItem
                            class="w-full max-w-[275px] mx-auto"
                            :data="item"
                        />
                    </div>
                </div>

            </div>
        </div>
    </section>

    <Popup 
        content_class="bg-bg_primary md:py-6 md:px-12 p-4 w-full max-w-[771px]"
        ref="select_hero"
    >
        <h3 class="text-white text-lg font-semibold">Choose one or more heroes</h3>
        <p class="text-gray font-semibold text-xs mt-2">Click on image to select / unselect</p>
        <div class="flex flex-wrap items-stretch justify-start mx-[-15px] bg-[#180320] p-5 mt-6 max-h-[451px] overflow-auto hide_scrollbar">
            <div
                v-for="item in filters.hero.list"
                class="px-[15px] md:w-1/4 sm:w-1/3 w-1/2 mb-7 cursor-pointer"
                @click="switch_hero_select(item)"
            >
                <div class="relative pt-[100%]">
                    <img 
                        v-bind:class="{'grayscale-[100%]': !is_hero_selected(item)}"
                        class="w-full h-full absolute top-0 right-0 object-contain transition duration-500" 
                        v-bind:src="item.img_url" 
                        alt=""
                    >
                    <div 
                        class="absolute flex items-center justify-center right-[5px] top-[5px] p-0.5 w-[27px] h-[27px] transition duration-500"
                        v-bind:class="{
                            'bg-gold': is_hero_selected(item),
                            'bg-bg_primary': !is_hero_selected(item),
                        }"
                    >
                        <img class="w-4 h-3 transition duration-500" src="/src/assets/img/check.svg" alt="">
                    </div>
                </div>
                <p 
                    v-bind:class="{
                        'text-gold': is_hero_selected(item),
                        'text-gray': !is_hero_selected(item),
                    }"
                
                    class="text-center mt-5 text-sm font-semibold transition duration-500">{{ item.name }}</p>
            </div>
        </div>
        <button 
            class="w-full py-4 font-bold mt-6 bg-transparent text-white border border-gray transition duration-500 hover:text-bg_primary hover:bg-gold"
            @click="$refs.select_hero.switch()"
        >APPLY</button>
    </Popup>
</template>

<script>
    export default {
        data: function(){
            return {
                mob_filters_open: false,
                active_group: 'heroes',
                groups: {
                    heroes: {
                        name: 'Heroes',
                        list: []
                    },
                    cosmetics: {
                        name: 'Cosmetics',
                        list: []
                    }
                },
                is_show_filters: false,
                filters: {
                    hero: {
                        is_open: true,
                        list: [
                            {
                                val: 'hero_1',
                                img_url: new URL('../assets/img/hero_item_img.png', import.meta.url).href,
                                name: 'Record Keeper'
                            },
                            {
                                val: 'hero_2',
                                img_url: new URL('../assets/img/hero_item_img.png', import.meta.url).href,
                                name: 'Record Keeper'
                            },
                            {
                                val: 'hero_3',
                                img_url: new URL('../assets/img/hero_item_img.png', import.meta.url).href,
                                name: 'Record Keeper'
                            },
                            {
                                val: 'hero_4',
                                img_url: new URL('../assets/img/hero_item_img.png', import.meta.url).href,
                                name: 'Record Keeper'
                            },
                            {
                                val: 'hero_5',
                                img_url: new URL('../assets/img/hero_item_img.png', import.meta.url).href,
                                name: 'Record Keeper'
                            },
                            {
                                val: 'hero_6',
                                img_url: new URL('../assets/img/hero_item_img.png', import.meta.url).href,
                                name: 'Record Keeper'
                            },
                            {
                                val: 'hero_7',
                                img_url: new URL('../assets/img/hero_item_img.png', import.meta.url).href,
                                name: 'Record Keeper'
                            },
                            {
                                val: 'hero_8',
                                img_url: new URL('../assets/img/hero_item_img.png', import.meta.url).href,
                                name: 'Record Keeper'
                            },
                            {
                                val: 'hero_9',
                                img_url: new URL('../assets/img/hero_item_img.png', import.meta.url).href,
                                name: 'Record Keeper'
                            },
                            {
                                val: 'hero_10',
                                img_url: new URL('../assets/img/hero_item_img.png', import.meta.url).href,
                                name: 'Record Keeper'
                            },
                            {
                                val: 'hero_11',
                                img_url: new URL('../assets/img/hero_item_img.png', import.meta.url).href,
                                name: 'Record Keeper'
                            },
                            {
                                val: 'hero_12',
                                img_url: new URL('../assets/img/hero_item_img.png', import.meta.url).href,
                                name: 'Record Keeper'
                            },
                        ]
                    },
                    checkboxes: {
                        Rarity: {
                            is_open: true,
                            list: [
                                {
                                    label: 'Common',
                                    val: 'Common',
                                    checked: false
                                },
                                {
                                    label: 'Epic',
                                    val: 'Epic',
                                    checked: false
                                },
                                {
                                    label: 'Legendary',
                                    val: 'Legendary',
                                    checked: false
                                },
                            ]
                        },
                        Availability: {
                            is_open: true,
                            list: [
                                {
                                    label: 'Auction',
                                    val: 'Auction',
                                    checked: false
                                },
                                {
                                    label: 'Buy Now',
                                    val: 'Buy Now',
                                    checked: false
                                }
                            ]
                        }
                    }
                },
                hero_selected: {},
                order_by: {
                    is_open: false,
                    selected: 'price_low_to_hight',
                    list: {
                        price_low_to_hight: {
                            group: '(Price)',
                            val: 'Low to high'
                        },
                        price_hight_to_low: {
                            group: '(Price)',
                            val: 'High to low'
                        },
                        test_1: {
                            group: '(test)',
                            val: 'TEST 1'
                        },
                        test_2: {
                            group: '(test)',
                            val: 'TEST 2'
                        }
                    }
                }
            }
        },
        methods: {
            set_order: function(key){
                this.order_by.selected = key;
                this.order_by.is_open = false;
            },
            is_hero_selected: function(item){
                return this.hero_selected[item.val] != undefined;
            },
            switch_hero_select: function(item) {
                if(this.hero_selected[item.val] == undefined) {
                    this.hero_selected[item.val] = item;
                } else {
                    delete this.hero_selected[item.val];
                }
            },
            clear_filters: function(){
                this.hero_selected = {}
                for(var key in this.filters.checkboxes) {
                    for(var i = 0; i<this.filters.checkboxes[key].list.length; i++) {
                        this.filters.checkboxes[key].list[i].checked = false;
                    }
                }
            }
        },
        mounted: function(){
            // demo data START
            var elem1 = {
                url: '#qwerty',
                img_url: new URL('/src/assets/img/but_list_item_img.png', import.meta.url).href,
                icon: new URL('/src/assets/img/CASTLE_PROTECTORS 1.png', import.meta.url).href,
                name: 'record keeper',
                tag: 'Forgotten',
                price: '0.01 ETH'
            }
            var elem2 = {
                url: '#qwerty',
                img_url: new URL('/src/assets/img/but_list_item_img.png', import.meta.url).href,
                icon: new URL('/src/assets/img/CASTLE_PROTECTORS 1.png', import.meta.url).href,
                name: 'TEST',
                tag: 'Forgotten',
                banner: {
                    text: 'NFT on Auction',
                    time: '5d 2h 34m'
                }
            }

            for(var i = 0; i < 12; i++) {
                this.groups.heroes.list.push(elem1);
                this.groups.cosmetics.list.push(elem2);
            }
        }
    }
</script>

<style scoped>
    .filter_wrap {
        background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
        padding: 2px;
    }
</style>