<script setup>
import Back from '@/components/Back.vue';
import DecoratedBlock from '@/components/DecoratedBlock.vue';
import SellNFT_Form from '@/components/SellNFT_Form.vue';
import PlaceBid_Form from '@/components/PlaceBid_Form.vue';
import BuyNow_Form from '@/components/BuyNow_Form.vue';
</script>

<template>
    <section class="mt-6 pt-10 content_wrap">
        <div class="_container mb-[60px]">
            <Back />
            <div class="flex items-start justify-between flex-wrap-reverse lg:flex-nowrap">
                <div class="lg:w-1/2 w-full">
                    <DecoratedBlock class="mb-16 ml-[14px] lg:mr-0 mr-[14px] mt-10">
                        <div class="md:pt-[42px] md:pb-[49px] md:px-10 p-6">
                            <div class="flex justify-between items-center flex-wrap">
                                <h1 class="title-gradient font-bold md:text-4xl text-xl ff-cinzel">Record keeper</h1>

                                <a class="flex items-stretch mt-1 md:transform-none transform scale-[0.833333] -mx-4" href="#">
                                    <img class="w-[42px] h-[37px]" src="/src/assets/img/card_1_icon.png" alt="">
                                    <div class="ml-[-20px] ff-cinzel btn p-px">
                                        <div class="p-[2px_8px_7px_18px]"><span class="title-gradient font-bold leading-none text-xs">FORGOTTEN</span></div>
                                    </div>
                                </a>
                            </div>
                            <p class="text-gray text-sm leading-snug mt-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl magna amet, urna aliquet blandit turpis quisque ultrices et. Id viverra purus vitae faucibus sed auctor. Volutpat id sodales enim nibh nibh. Lacus sed aliquet senectus massa aliquet ullamcorper rutrum turpis eu. Sagittis, non ante erat sed laoreet faucibus nibh consequat. Nam augue cras proin eget vitae porta sed turpis curabitur. Pellentesque consequat est ultricies justo.</p>
                        </div>
                    </DecoratedBlock>

                    <h2 class="title-gradient font-bold text-4xl ff-cinzel">highlight</h2>
                    <div class="flex items-center justify-between flex-wrap mt-[27px]">
                        <div 
                            v-for="item in highlight"
                            class="sm:w-[31.5%] w-[48.5%] border border-gray pt-2 pb-4 px-4 mb-3.5"
                        >
                            <p class="text-gray text-sm leading-snug">{{ item.name }}</p>
                            <p class="text-white font-bold leading-snug">{{ item.value }}</p>
                        </div>
                        <div class="w-[32%]"></div>

                    </div>
                    
                    <h2 class="title-gradient font-bold text-4xl ff-cinzel mt-10">Attributes</h2>
                    <p class="text-gray text-sm leading-snug mt-4 max-w-[520px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor ipsum, tortor, fames lectus velit dolor, consec adipiscing.</p>
                    <div class="flex items-center justify-between flex-wrap mt-[21px]">
                        <div 
                            v-for="item in attributes"
                            class="sm:w-[32%] w-[48.5%] border border-gray mb-3.5 gradient_bg p-px"
                        >
                            <div class="pt-2 pb-4 px-4 bg-bg_primary has_decor relative">
                                <p class="text-gray text-sm leading-snug">{{ item.name }}</p>
                                <p class="text-white font-bold leading-snug">{{ item.value }}</p>
                                <p class="text-white text-sm leading-snug">{{ item.have_this }}</p>
                            </div>
                        </div>
                        <div class="w-[32%]"></div>
                    </div>
                </div>
                <div class="lg:w-1/2 w-full relative lg:max-w-[510px] lg:mt-[-66px]">
                    <img class="absolute left-1/2 transform -translate-x-1/2 -top-10 pointer-events-none" src="/src/assets/img/character-rightpart-bg.png" alt="">
                    <img class="max-w-full mx-auto" src="/src/assets/img/character-img.png" alt="">
                    <div class="flex flex-wrap justify-between items-start text-sm max-w-[400px] mt-5 mx-auto">
                        <div class="w-1/2 max-w-[138px] mb-[17px]">
                            <p class="text-white">ID:</p>
                            <p class="text-[#B7A46E]">#87987866857857467</p>
                        </div>
                        <div class="w-1/2 max-w-[138px] mb-[17px]">
                            <p class="text-white">OWNER:</p>
                            <p class="text-light_blue">0xca778...09987987</p>
                        </div>
                        <div class="w-1/2 max-w-[138px] mb-[17px]">
                            <p class="text-white">STANDARD:</p>
                            <p class="text-[#B7A46E]">ERC721</p>
                        </div>
                        <div class="w-1/2 max-w-[138px] mb-[17px]">
                            <p class="text-white">BLOCKCHAIN:</p>
                            <p class="text-[#B7A46E]">Ethereum</p>
                        </div>
                    </div>
                    <SellNFT_Form/>

                    <PlaceBid_Form/>

                    <BuyNow_Form/>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data: function(){
            return {
                highlight: [
                    {
                        name: 'Rarity',
                        value: 'COMMON'
                    },
                    {
                        name: 'Rare props',
                        value: 'NONE'
                    },
                    {
                        name: 'Most rare',
                        value: 'GOLDEN'
                    },
                ],
                attributes: [
                    {
                        name: 'Book',
                        value: 'BLUE',
                        have_this: '(24.8% have this)'
                    },
                    {
                        name: 'Hairstyle',
                        value: 'BLUE',
                        have_this: '(24.8% have this)'
                    },
                    {
                        name: 'Potion',
                        value: 'BLUE',
                        have_this: '(24.8% have this)'
                    },
                    {
                        name: 'Clothes',
                        value: 'BLUE',
                        have_this: '(24.8% have this)'
                    },
                    {
                        name: 'Backpack',
                        value: 'BLUE',
                        have_this: '(24.8% have this)'
                    },
                    {
                        name: 'Background',
                        value: 'BLUE',
                        have_this: '(24.8% have this)'
                    },
                    {
                        name: 'Frame',
                        value: 'BLUE',
                        have_this: '(24.8% have this)'
                    },
                ]
            }
        },
    }
</script>

<style scoped>

.btn {
    clip-path: polygon(21px 0, 100% 0, 100% 100%, 0 100%);
    background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
}

.btn div {
    clip-path: polygon(21px 0, 100% 0, 100% 100%, 0 100%);
    background: radial-gradient(41.16% 73.23% at 50% 50%, rgba(223, 202, 146, 0.16) 0%, rgba(29, 18, 15, 0.16) 100%), #17100E;
}

.gradient_bg {
    background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
}

.has_decor::before {
    width: 17px;
    height: 18px;
    content: '';
    position: absolute;
    right: 4px;
    top: 4px;
    background: url('/src/assets/img/decor.svg');
}

.content_wrap {
    background: url('/src/assets/img/character-bg.png');
    background-repeat: no-repeat;
    background-size: 48%;
    background-position: 63% 12px;
}

</style>