<script setup>
import HomeFirstScreen from '@/components/screen/HomeFirstScreen.vue';
import YourInventory from '@/components/screen/YourInventory.vue';
import YourInventoryAuth from '@/components/screen/YourInventoryAuth.vue';
import BlockLists from '@/components/screen/BlockLists.vue';
import Banner from '@/components/Banner.vue';
</script>

<template>
    <Banner/>

    <HomeFirstScreen />


    <YourInventory />
    <YourInventoryAuth/>

    <BlockLists 
        :data="block_lists_1" 
        :key="block_lists_1.groups.cosmetics.list.length"
        nav_type="show_all"
    />

    <BlockLists 
        class="mb-[109px]"
        :data="block_lists_1" 
        :key="block_lists_1.groups.cosmetics.list.length"
        nav_type="arrows"
    />

</template>

<script>
    export default {
        data: function(){
            return {
                block_lists_1: {
                    title: 'Recently listed',
                    init_active_group: 'heroes',
                    groups: {
                        heroes: {
                            name: 'Heroes',
                            list: []
                        },
                        cosmetics: {
                            name: 'Cosmetics',
                            list: []
                        }
                    }
                }
            }
        },
        mounted: function(){
            // demo data START
            var elem1 = {
                url: '#qwerty',
                img_url: new URL('../assets/img/Rectangle 3.png', import.meta.url).href,
                icon: new URL('../assets/img/CASTLE_PROTECTORS 1.png', import.meta.url).href,
                name: 'record keeper',
                tag: 'Forgotten',
            }
            var elem2 = {
                url: '#qwerty',
                img_url: new URL('../assets/img/Rectangle 3.png', import.meta.url).href,
                icon: new URL('../assets/img/CASTLE_PROTECTORS 1.png', import.meta.url).href,
                name: 'TEST',
                tag: 'Forgotten',
            }

            for(var i = 0; i < 25; i++) {
                this.block_lists_1.groups.heroes.list.push(elem1);
                this.block_lists_1.groups.cosmetics.list.push(elem2);
            }

            // console.log('test');
            // console.log(this.block_lists_1);
            // demo data END
        }
    }
</script>