<script setup>
import Back from '@/components/Back.vue';
</script>

<template>

<section >
    <div class="_container md:py-16 py-8">
        <Back />
        <div class="text-center max-w-[537px] mx-auto mt-3">
            <h1 class="md:text-4xl text-2xl title-gradient ff-cinzel font-bold leading-snug">Connect Wallet</h1>
            <p class="md:text-sm text-xs leading-snug mt-4 text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor ipsum, tortor, fames lectus velit dolor, consec adipiscing.</p>
            <div class="max-w-[397px] mx-auto mt-[44px]">
                <a class="hexagon_btn ml-auto mr-8 md:text-base text-xs w-full block" href="#">
                    <div class="flex items-center justify-start">
                        <img class="w-9 h-9" src="/src/assets/img/icon-metamask.png" alt="">
                        <span class="text-white md:text-lg text-sm ml-3.5">Login with metamask</span>    
                    </div>
                </a>

                <a class="hexagon_btn ml-auto mr-8 md:text-base text-xs w-full block mt-[22px]" href="#">
                    <div class="flex items-center justify-start">
                        <img class="w-9 h-9" src="/src/assets/img/icon-coinbase.png" alt="">
                        <span class="text-white md:text-lg text-sm ml-3.5">Login with coinbase wallet</span>    
                    </div>
                </a>

                <a class="hexagon_btn ml-auto mr-8 md:text-base text-xs w-full block mt-[22px]" href="#">
                    <div class="flex items-center justify-start">
                        <img class="w-9 h-9" src="/src/assets/img/icon-wc.png" alt="">
                        <span class="text-white md:text-lg text-sm ml-3.5">Wallet connect</span>    
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

</template>

<script>
    
    export default {
        data: function(){
            return {

            }
        }    
    }
</script>

<style scoped>
.hexagon_btn div {
    padding: 14px 36px;
}
</style>