<script setup>
import DecoratedBlock from '@/components/DecoratedBlock.vue';
</script>

<template>
    <section class="bg_img md:pt-[90px] pt-[44px]">
        <div class="_container">
            <div class="lg:flex items-center justify-between">
                <div>
                    <h1 class="title-gradient ff-cinzel md:text-4xl text-2xl font-bold inline-block">mystery box</h1>
                    <p class="md:text-sm text-xs text-gray leading-snug lg:max-w-[640px] md:mt-2.5 mt-[18px]">Mystery Box contains various heroes with certain drop rates.<br class="md:inline hidden"> The higher quality of the Mystery Box is, the higher the drop rate for the high-quality Heroes is.</p>
                </div>
                <div class="flex justify-center items-stretch mb-[-1px] md:mt-[15px] mt-[30px] mx-[-15px] md:mx-0">
                    <button 
                        v-for="(item,key) in groups"
                        @click="prev_group = active_group; active_group = key"
                        v-bind:class="{'active': key == active_group}"
                        class="font-semibold md:pt-[26px] md:pb-[23px] md:px-[54px] px-5 py-[22px] text-sm border-b-[3px] border-transparent relative text-white text-center md:w-auto w-1/2 max-w-[200px]"
                    >{{ item.name }}</button>
                </div>
            </div>
            <div class="flex flex-wrap items-stretch justify-between mx-[-5px] md:mt-[82px] mt-[36px]">
                <template v-if="groups[active_group].list.length != 0">
                    <a href="#" v-for="item in groups[active_group].list" class="mistery_bot_item md:w-1/2 w-full px-5 max-w-[606px] md:mb-16 mb-[30px] md:mx-0 mx-auto">
                        <DecoratedBlock>
                            <div class="flex items-center justify-between box_item bg-no-repeat bg-right-bottom md:p-[8px_23px_29px] p-[10px_12px_10px]" v-bind:style="'background-image: url('+item.bg_url+')'">
                                <div class="md:w-[40%] w-[44.3%]">
                                    <img class="img" v-bind:src="item.img_url" alt="">
                                </div>
                                <div class="md:w-[60%] w-[55.7%] pl-2 max-w-[280px]">
                                    <div class="flex items-stretch mt-1 justify-end" href="#">
                                        <img class="md:w-[42px] md:h-[37px] w-[24px] h-[20px]" v-bind:src="item.icon_url" alt="">
                                        <div class="md:ml-[-20px] ml-[-11px] ff-cinzel btn p-px md:h-[37px] h-[20px] md:min-w-[109px]">
                                            <div class="md:p-[2px_8px_7px_22px] p-[4px_6px_7px_12px] h-full">
                                                <span class="title-gradient font-bold leading-none md:text-xs text-[10px] md:static relative bottom-2.5">{{ item.tag }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="title-gradient lg:text-[28px] text-lg ff-cinzel font-bold leading-snug md:mt-5 mt-1 inline-block">{{ item.name }}</h3>
                                    <p class="text-gray md:text-xs text-[10px] leading-snug md:mt-3 mt-px">{{ item.text }}</p>
                                    <div class="flex items-center justify-between bg_img border border-opacity_white md:mt-[25px] md:pt-[5px] md:pb-[11px] md:px-5 p-[4px_12px_5px_16px] mt-[3px]">
                                        <p class="text-white text-[10px] md:mt-2 mt-1.5">PRICE</p>
                                        <div class="text-right">
                                            <p class="title-gradient font-bold md:text-lg text-xs ff-cinzel">{{ item.price }}</p>
                                            <p class="text-gray md:text-xs text-[10px]">{{ item.price_usd }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </DecoratedBlock>
                    </a>
                </template>
                <template v-else>
                    <div class="flex items-center justify-center flex-col lg:min-h-screen pb-20 pt-10 w-full">
                        <img class="lg:max-w-[946px] lg:-my-36 w-full md:max-w-[500px] md:-my-16 max-w-sm -my-8" src="/src/assets/img/coming-soon.png" alt="">
                        <a @click.prevent="active_group = prev_group" class="hexagon_btn md:text-base text-xs inline-block" href="#">
                            <div class="ff-cinzel">go Back to {{ prev_group }}</div>
                        </a>
                    </div>
                </template>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data: function(){
            return {
                active_group: 'heroes',
                prev_group: 'heroes',
                groups: {
                    heroes: {
                        name: 'Heroes',
                        list: [
                            {
                                img_url: new URL('/src/assets/img/chest.png', import.meta.url).href,
                                icon_url: new URL('/src/assets/img/card_1_icon.png', import.meta.url).href,
                                bg_url: new URL('/src/assets/img/box-bg.png', import.meta.url).href,
                                tag: 'Satanic',
                                name: 'Character box',
                                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh sed vulputate co.',
                                price: '0.01 ETH',
                                price_usd: '$198.02'
                            },
                            {
                                img_url: new URL('/src/assets/img/chest.png', import.meta.url).href,
                                icon_url: new URL('/src/assets/img/card_1_icon.png', import.meta.url).href,
                                bg_url: new URL('/src/assets/img/box-bg.png', import.meta.url).href,
                                tag: 'protectors',
                                name: 'Character box',
                                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh sed vulputate co.',
                                price: '0.01 ETH',
                                price_usd: '$198.02'
                            },
                            {
                                img_url: new URL('/src/assets/img/chest.png', import.meta.url).href,
                                icon_url: new URL('/src/assets/img/card_1_icon.png', import.meta.url).href,
                                bg_url: new URL('/src/assets/img/box-bg.png', import.meta.url).href,
                                tag: 'forgotten',
                                name: 'Character box',
                                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh sed vulputate co.',
                                price: '0.01 ETH',
                                price_usd: '$198.02'
                            },
                            {
                                img_url: new URL('/src/assets/img/chest.png', import.meta.url).href,
                                icon_url: new URL('/src/assets/img/card_1_icon.png', import.meta.url).href,
                                bg_url: new URL('/src/assets/img/box-bg.png', import.meta.url).href,
                                tag: 'Satanic',
                                name: 'Character box',
                                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nibh sed vulputate co.',
                                price: '0.01 ETH',
                                price_usd: '$198.02'
                            },
                        ]
                    },
                    cosmetics: {
                        name: 'Cosmetics',
                        list: []
                    }
                },
            }
        }
    }
</script>

<style scoped>
.bg_img {
    background: url('/src/assets/img/future-bg-1-full.png') no-repeat;
    background-size: cover;
    background-position: bottom;
}

.btn {
    clip-path: polygon(21px 0, 100% 0, 100% 100%, 0 100%);
    background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
}

.btn div {
    clip-path: polygon(21px 0, 100% 0, 100% 100%, 0 100%);
    background: radial-gradient(41.16% 73.23% at 50% 50%, rgba(223, 202, 146, 0.16) 0%, rgba(29, 18, 15, 0.16) 100%), #17100E;
}

.hexagon_btn {
    background: linear-gradient(270deg, #CDB0DB -6.64%, #5C3187 46.11%, #CEA2F0 64.16%, #4C2160 71.84%, #C695ED 88.26%, #391B57 103.63%, #A985BA 113.51%);
}

.hexagon_btn div {
    color: white;
}

.mistery_bot_item .img {
    transition: .5s;
}

.mistery_bot_item:hover .img {
    transform: translateY(-12px);
}

@media (max-width: 768px) {
    .btn {
        clip-path: polygon(11px 0, 100% 0, 100% 100%, 0 100%);
    }

    .btn div {
        clip-path: polygon(11px 0, 100% 0, 100% 100%, 0 100%);
    }
}
</style>