<template>
    <section class="p-10 ff-cinzel font-bold text-xl">
        <router-link class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full" to="/">Home</router-link>
        <router-link class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full" to="/character">Character</router-link>
        <router-link class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full" to="/inventory">Inventory</router-link>
        <router-link class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full" to="/buy">Buy</router-link>
        <router-link class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full" to="/mistery-box">Mistery Box</router-link>
        <router-link class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full" to="/box-single">Box Single</router-link>
        <router-link class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full" to="/settings-noaccount">Account Settings_NOACCOUNT</router-link>
        <router-link class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full" to="/account-settings">Account Settings</router-link>
        <router-link class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full" to="/login">Login</router-link>
        <router-link class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full" to="/popups-list">Popups</router-link>
    </section>
</template> 