<script setup>
import Popup from '@/components/Popup.vue';
import vHeader from '@/components/vHeader.vue';
</script>

<template>

    <vHeader :auth="1" />

    <section class="p-10 font-bold text-xl">

        <button
            @click="$refs.link_account.switch()" 
            class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full ff-cinzel"
        >Link account</button>

        <button
            @click="$refs.create_account.switch()" 
            class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full ff-cinzel"
        >Create account</button>

        <button
            @click="$refs.link_account_2.switch()" 
            class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full ff-cinzel"
        >Link already existing account</button>

        <button
            @click="$refs.popup_1.switch()" 
            class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full ff-cinzel"
        >YOU’RE ALMOST THERE</button>

        <button
            @click="$refs.popup_2.switch()" 
            class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full ff-cinzel"
        >ARE YOU SURE TO SKIP IT?</button>

        <button
            @click="$refs.popup_3.switch()" 
            class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full ff-cinzel"
        >LINK WALLET ADDRESS</button>

        <button
            @click="$refs.popup_4.switch()" 
            class="block py-2 my-6 max-w-[400px] border-[#888] mx-auto border w-full text-center text-white font-bold rounded-full ff-cinzel"
        >WALLET USAGE AGREEMENT</button>

        <!-- link account -->
        <Popup
            ref="link_account"
            content_class="bg-bg_primary w-full max-w-[932px] text-left"
            close_position="sm:top-[26px] sm:right-[48px] top-5 right-5"
        >
            <div class="flex flex-wrap sm:flex-nowrap items-stretch justify-between">
                <div class="sm:w-[35.2%] w-full">
                    <img class="h-full object-cover sm:block hidden" src="/src/assets/img/create-account.png" alt="">
                    <img class="w-full sm:hidden block mt-16 px-4" src="/src/assets/img/create-account-mob.png" alt="">
                </div>
                <div class="sm:w-[64.8%] w-full sm:py-[26px] sm:px-[51px] p-5">
                    <h3 class="text-white md:text-2xl text-lg leading-snug font-semibold sm:mt-0 mt-2.5">LINK YOUR GAME ACCOUNT</h3>
                    
                    <p class="md:text-base text-sm font-semibold text-white leading-snug md:mb-5 mb-2.5 mt-[23px]">Email</p>
                    <div class="relative">
                        <input 
                            class="w-full border border-gray bg-transparent text-white md:text-sm leading-snug md:py-4 md:px-5 p-2.5 text-xs outline-0"
                            placeholder="example@gmail.com"
                            type="email"
                        >
                    </div>

                    <p class="md:text-base text-sm font-semibold text-white leading-snug md:mb-5 mb-2.5 mt-[18px]">Password</p>
                    <div class="relative">
                        <input 
                            class="w-full border border-gray bg-transparent text-white md:text-sm leading-snug md:py-4 md:px-5 p-2.5 text-xs outline-0"
                            placeholder="*******"
                            v-bind:type="password_type"
                        >
                        <button 
                            @click="switchPasswordType"
                            class="underline border-none md:text-sm bg-bg_primary text-white absolute md:right-5 right-3 md:top-[15px] top-1.5 hover:text-gold transition duration-500 pl-1"
                        >
                            <img class="block" src="/src/assets/img/icon-eye.svg" alt="">
                        </button>
                    </div>

                    <a class="text-sm text-white leading-snug mt-3 inline-block" href="#">Forgot password?</a>

                    <input class="w-full border border-gray bg-transparent text-white text-base font-bold leading-snug md:py-4 md:px-5 p-2.5 outline-0 text-center block cursor-pointer hover:bg-white hover:text-bg_primary transition duration-500 mt-[31px]" type="submit" value="LINK ACCOUNT">

                    <p class="text-sm text-white leading-snug mt-[15px]">By continuing, you agree to <a class="font-bold hover:underline" href="">Castle of Blackwater’s Terms of Service</a> and confirm that you have read <a class="font-bold hover:underline" href="#">Castle of Blackwater’s Privacy Policy</a>.</p>

                    <p class="text-sm text-white leading-snug mt-9">Don’t have an account? <a class="text-blue font-bold hover:underline" href="#">Create now</a></p>

                </div>
            </div>
        </Popup>
        <!-- /link account -->

        <!-- create account -->
        <Popup
            ref="create_account"
            content_class="bg-bg_primary w-full max-w-[932px] text-left"
            close_position="sm:top-[26px] sm:right-[48px] top-5 right-5"
        >
            <div class="flex flex-wrap sm:flex-nowrap items-stretch justify-between">
                <div class="sm:w-[35.2%] w-full">
                    <img class="h-full object-cover sm:block hidden" src="/src/assets/img/create-account.png" alt="">
                    <img class="w-full sm:hidden block mt-16 px-4" src="/src/assets/img/create-account-mob.png" alt="">
                </div>
                <div class="sm:w-[64.8%] w-full sm:py-[26px] sm:px-[51px] p-5">
                    <h3 class="text-white md:text-2xl text-lg leading-snug font-semibold sm:mt-0 mt-2.5">CREATE NEW GAME ACCOUNT</h3>
                    
                    <p class="md:text-base text-sm font-semibold text-white leading-snug md:mb-5 mb-2.5 mt-[23px]">Email</p>
                    <div class="relative">
                        <input 
                            class="w-full border border-gray bg-transparent text-white md:text-sm leading-snug md:py-4 md:px-5 p-2.5 text-xs outline-0"
                            placeholder="example@gmail.com"
                            type="email"
                        >
                    </div>

                    <p class="md:text-base text-sm font-semibold text-white leading-snug md:mb-5 mb-2.5 mt-[18px]">Password</p>
                    <div class="relative">
                        <input 
                            class="w-full border border-gray bg-transparent text-white md:text-sm leading-snug md:py-4 md:px-5 p-2.5 text-xs outline-0"
                            placeholder="*******"
                            v-bind:type="password_type"
                        >
                        <button 
                            @click="switchPasswordType"
                            class="underline border-none md:text-sm bg-bg_primary text-white absolute md:right-5 right-3 md:top-[15px] top-1.5 hover:text-gold transition duration-500 pl-1"
                        >
                            <img class="block" src="/src/assets/img/icon-eye.svg" alt="">
                        </button>
                    </div>

                    <img class="max-w-full mt-[29px]" src="/src/assets/img/reCAPTCHA v2 checkbox.png" alt="">

                    <input class="w-full border border-gray bg-transparent text-white text-base font-bold leading-snug md:py-4 md:px-5 p-2.5 outline-0 text-center block cursor-pointer hover:bg-white hover:text-bg_primary transition duration-500 mt-[31px]" type="submit" value="CREATE ACCOUNT">

                    <p class="text-sm text-white leading-snug mt-[15px]">By continuing, you agree to <a class="font-bold hover:underline" href="">Castle of Blackwater’s Terms of Service</a> and confirm that you have read <a class="font-bold hover:underline" href="#">Castle of Blackwater’s Privacy Policy</a>.</p>

                    <p class="text-sm text-white leading-snug mt-9 mb-8">You arleady have an account? <a class="text-blue font-bold hover:underline" href="#">Link it now</a></p>

                </div>
            </div>
        </Popup>
        <!-- /create account -->

        <!-- Link already existing account -->
        <Popup
            ref="link_account_2"
            content_class="bg-bg_primary w-full max-w-[932px] text-left"
            close_position="sm:top-[26px] sm:right-[48px] top-5 right-5"
        >
            <div class="flex flex-wrap sm:flex-nowrap items-stretch justify-between">
                <div class="sm:w-[35.2%] w-full">
                    <img class="h-full object-cover sm:block hidden" src="/src/assets/img/create-account.png" alt="">
                    <img class="w-full sm:hidden block mt-16 px-4" src="/src/assets/img/create-account-mob.png" alt="">
                </div>
                <div class="sm:w-[64.8%] w-full sm:py-[26px] sm:px-[51px] p-5">
                    <h3 class="text-white md:text-2xl text-lg leading-snug font-semibold sm:mt-[58px]2.5-10">Warning! You are linking an already existing account.</h3>
                    
                    <p class="text-sm text-gray mt-5 mb-[30px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim volutpat orci quam volutpat.</p>



                    <button class="w-full border border-gray bg-transparent text-white text-base font-bold leading-snug md:py-4 md:px-5 p-2.5 outline-0 text-center block cursor-pointer bg-blue hover:bg-white hover:text-blue transition duration-500 mt-[31px]">LINK ACCOUNT</button>
                    <button class="w-full border border-gray bg-transparent text-white text-base font-bold leading-snug md:py-4 md:px-5 p-2.5 outline-0 text-center block cursor-pointer hover:bg-white hover:text-bg_primary transition duration-500 mt-[24px]">GO BACK TO LOGIN PAGE</button>

                </div>
            </div>
        </Popup>
        <!-- /Link already existing account -->

        <!-- Link already existing account -->
        <Popup
            ref="popup_1"
            content_class="bg-bg_primary w-full max-w-[604px] text-left"
            close_position="sm:top-[26px] sm:right-[48px] top-5 right-5"
        >
            <div class="flex items-stretch justify-between">
                <div class="w-full sm:pt-[78px] sm:pb-[60px] sm:px-[51px] p-5 text-center">
                    <h3 class="text-white md:text-2xl text-lg leading-snug font-semibold sm:mt-0 mt-10">YOU’RE ALMOST THERE</h3>
                    
                    <p class="text-sm text-gray mt-5 mb-[30px]">Connect your game account to continue on marketplace</p>

                    <button class="w-full max-w-[400px] mx-auto border border-gray bg-transparent text-white text-base font-bold leading-snug md:py-4 md:px-5 p-2.5 outline-0 text-center block cursor-pointer bg-blue hover:bg-white hover:text-blue transition duration-500 mt-[31px]">LINK TO EXISTING GAME ACCOUNT</button>
                    <button class="w-full max-w-[400px] mx-auto border border-gray bg-transparent text-white text-base font-bold leading-snug md:py-4 md:px-5 p-2.5 outline-0 text-center block cursor-pointer hover:bg-white hover:text-bg_primary transition duration-500 mt-[24px]">CREATE NEW GAME ACCOUNT</button>

                    <a class="underline text-white text-sm leading-snug mt-4 inline-block" href="#">Skip for now</a>

                </div>
            </div>
        </Popup>
        <!-- /Link already existing account -->

        <!-- ARE YOU SURE TO SKIP IT? -->
        <Popup
            ref="popup_2"
            content_class="bg-bg_primary w-full max-w-[604px] text-left"
            close_position="sm:top-[26px] sm:right-[48px] top-5 right-5"
        >
            <div class="flex items-stretch justify-between">
                <div class="w-full sm:pt-[78px] sm:pb-[60px] sm:px-[51px] p-5 text-center">
                    <h3 class="text-white md:text-2xl text-lg leading-snug font-semibold sm:mt-0 mt-10">ARE YOU SURE TO SKIP IT?</h3>
                    
                    <p class="text-sm text-gray mt-5 mb-[30px]">Having you game account connected enhance a lot the experience</p>

                    <button class="w-full max-w-[400px] mx-auto border border-gray bg-transparent text-white text-base font-bold leading-snug md:py-4 md:px-5 p-2.5 outline-0 text-center block cursor-pointer bg-blue hover:bg-white hover:text-blue transition duration-500 mt-[31px]">GO BACK TO ACCOUNT LINKING</button>
                    <button class="w-full max-w-[400px] mx-auto border border-gray bg-transparent text-white text-base font-bold leading-snug md:py-4 md:px-5 p-2.5 outline-0 text-center block cursor-pointer hover:bg-white hover:text-bg_primary transition duration-500 mt-[24px]">SKIP</button>
                </div>
            </div>
        </Popup>
        <!-- /ARE YOU SURE TO SKIP IT? -->

        <!-- LINK WALLET ADDRESS -->
        <Popup
            ref="popup_3"
            content_class="bg-bg_primary w-full max-w-[496px] text-left"
            close_position="sm:top-[26px] sm:right-[48px] top-5 right-5"
        >
            <div class="flex items-stretch justify-between">
                <div class="w-full sm:pt-[48px] sm:pb-[60px] sm:px-[51px] p-5 text-center">
                    <h3 class="text-white md:text-2xl text-lg leading-snug font-semibold sm:mt-0 mt-10">LINK WALLET ADDRESS</h3>
                    
                    <p class="text-sm text-gray mt-5 mb-[30px]">Your account has been created. Link your address wallet to your account to get started</p>

                    <p class="text-white font-semibold my-9">Your wallet: 01dx2927227...c352cc53</p>

                    <div class="w-full max-w-[400px] mx-auto border border-gray bg-transparent text-white text-base font-bold leading-snug md:py-4 md:px-5 p-2.5 outline-0 text-center block mt-[24px]">Processing...</div>
                </div>
            </div>
        </Popup>
        <!-- /LINK WALLET ADDRESS -->

        <!-- WALLET USAGE AGREEMENT -->
        <Popup
            ref="popup_4"
            content_class="bg-bg_primary w-full max-w-[604px] text-left"
            close_position="sm:top-[26px] sm:right-[48px] top-5 right-5"
        >
            <div class="flex items-stretch justify-between">
                <div class="w-full sm:pt-[78px] sm:pb-[60px] sm:px-[51px] p-5 text-center">
                    <h3 class="text-white md:text-2xl text-lg leading-snug font-semibold sm:mt-0 mt-10">WALLET USAGE AGREEMENT</h3>
                    
                    <p class="text-sm text-gray mt-5 mb-[30px]">Connect your game account to continue on marketplace</p>
                    
                    <div class="max-h-[50vh] text-left overflow-auto sm:-mr-10 sm:pr-10 -mr-5 pr-5 text-white leading-snug">
                        <p class="mb-5 text-base">Lorem Ipsum</p>
                        <p class="text-sm mb-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus id nibh egestas nunc, iaculis bibendum magnis nunc feugiat. Varius fames libero turpis cursus consequat vestibulum. Facilisis urna id ultrices dapibus sed. At fusce rhoncus feugiat enim tempor consectetur. Ut dolor tortor id lorem.</p>

                        <p class="mb-5 text-base">Lorem Ipsum</p>
                        <p class="text-sm mb-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet hendrerit ac vitae, commodo, facilisis egestas sit sed mattis. Proin donec ac augue quisque sed purus, sit libero. At donec nibh diam ornare et, sagittis, eu duis. Viverra sed pellentesque hac dui. Consectetur velit potenti vitae vel, quam est vel a nibh. Egestas sit felis fringilla nibh pulvinar sapien hendrerit curabitur mauris. Et lectus est sagittis lorem nibh purus sit dictum sed. Lectus ultrices consectetur interdum viverra. Cras amet sed ut risus integer etiam. Aliquet placerat velit dictumst cras arcu pulvinar eros, fames eu. Mi posuere viverra amet, elementum, nec, nunc porta enim felis. Arcu volutpat sem massa nulla tortor justo. Consectetur proin feugiat blandit tempor, augue sed ac. Cras dui tincidunt egestas dignissim laoreet dui mus. Condimentum rutrum quam metus amet, imperdiet. Massa eu commodo eros, posuere in ultricies. Tincidunt volutpat tincidunt duis tortor ornare gravida sem faucibus. Elementum neque tortor vitae vel malesuada condimentum non. Etiam turpis vitae velit et id pellentesque. Euismod massa luctus netus quis diam. Amet imperdiet ullamcorper tincidunt mi. In consequat arcu mollis id diam non malesuada aliquam. Elementum pellentesque vitae cras dolor et. Vitae id bibendum ullamcorper habitant sed nunc. Tortor, vitae adipiscing nulla urna, nunc a sit eget.</p>
                    </div>

                    <div class="flex items-stretch justify-between mt-9">
                        <button class="w-[48%] max-w-[400px] mx-auto border border-gray bg-transparent text-white text-base font-bold leading-snug md:py-4 md:px-5 p-2.5 outline-0 text-center block cursor-pointer hover:bg-white hover:text-bg_primary transition duration-500">BACK</button>
                        <button class="w-[48%] max-w-[400px] mx-auto border border-gray bg-transparent text-white text-base font-bold leading-snug md:py-4 md:px-5 p-2.5 outline-0 text-center block cursor-pointer bg-blue hover:bg-white hover:text-blue transition duration-500">ACCEPT</button>
                    </div>
                </div>
            </div>
        </Popup>
        <!-- /WALLET USAGE AGREEMENT -->

    </section>
</template> 

<script>
    export default {
        data: function(){
            return {
                password_type: 'password'
            }
        },
        methods: {
            switchPasswordType: function(){
                this.password_type = this.password_type=='password'?'text':'password';
            }
        }
    }
</script>