<script setup>
import Back from '@/components/Back.vue';
</script>

<template>
    <section class="screen_bg">
        <div class="_container pt-[70px]">
            <Back/>
            <div class="pt-[14.5vw] pb-[28.6vw] flex items-center justify-between md:min-h-[unset] min-h-screen">
                <div class="max-w-[400px] w-full mx-auto leading-snug text-center">
                    <h1 class="text-white md:text-2xl text-base leading-snug font-semibold">EHNANCE YOUR EXPERIENCE</h1>
                    <p class="md:text-sm text-xs text-gray md:mt-3 mt-[5px]">Connect your game account to continue on marketplace</p>
                    <a class="block text-center bg-blue border border-gray pt-[13px] pb-[14px] w-full text-white font-bold md:text-base text-sm transition duration-500 hover:bg-white hover:text-blue md:mt-9 mt-[30px]" href="">LINK TO EXISTING GAME ACCOUNT</a>
                    <a class="block text-center bg-bg_primary border border-gray pt-[13px] pb-[14px] w-full text-white font-bold md:text-base text-sm transition duration-500 hover:bg-white hover:text-bg_primary mt-5" href="">CREATE NEW GAME ACCOUNT</a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data: function(){
            return {

            }
        }
    }
</script>

<style scoped>
.screen_bg {
    background-image: url('/src/assets/img/noaccount-bg.png');
    background-size: cover;
    background-position: right center;
}

._container {
    max-width: 1368px;
}

@media (max-width: 768px) {
    .screen_bg {
        background-position: -600px -40px;
    }
}
</style>