<script setup>
// import Back from '@/components/Back.vue';
</script>

<template>
    <section class="bg-cover bg-center pb-[12vw]" v-bind:style="{
        'background-image': 'url('+groups[active_group].data.bg_url+')'
    }">
        <div class="bg-[rgba(255,255,255,0.05)] border-b border-[#2F2636]">
            <div class="_container flex items-center justify-between">
                <h1 class="md:text-4xl text-2xl title-gradient ff-cinzel font-bold">Staking</h1>
                <div class="flex items-stretch mb-[-1px] w-[53.5%] max-w-[388px]">
                    <button 
                        v-for="(item,key) in groups_btn"
                        @click="active_group_btn = key"
                        v-bind:class="{'active text-white': key == active_group_btn, 'text-gray': key != active_group_btn}"
                        class="w-1/2 md:text-base font-semibold md:pt-[43px] md:pb-[19px] py-[22px] border-b-[3px] border-transparent relative text-white"
                    >{{ item.name }}</button>
                </div>
            </div>

        </div>
        <!-- content start -->
        <div class="_container md:mt-[49px] mt-5">
            <div class="flex items-stretch md:max-w-[575px] md:mx-0 mx-[-15px]">
                <button 
                    v-for="(item,key) in groups"
                    @click="active_group = key"
                    v-bind:class="{
                        'active text-white': key == active_group, 
                        'text-gray': key != active_group
                    }"
                    class="w-1/3 font-semibold md:pt-[23px] md:pb-[21px] py-5 border-b-[3px] border-transparent relative text-white"
                    v-html="item.name"
                ></button>
            </div>
            <div class="flex items-center justify-between md:mt-[45px] mt-7 md:flex-row flex-col-reverse">
                <div class="md:w-[70%] w-full md:mt-0 mt-[30px] md:px-0 px-1">
                    <h2 class="md:text-4xl text-2xl title-gradient ff-cinzel font-bold">{{ groups[active_group].data.title }}</h2>
                    <p class="md:hidden block text-xs leading-snug text-gray mt-[9px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor ipsum, tortor, fames lectus velit dolor, consec adipiscing.</p>
                    <div class="flex items-stretch justify-between md:-mx-2.5 mx-[-7.5px] mt-[30px] overflow-auto mb-[-15px] pb-[15px]">
                        <div 
                            v-for="item in groups[active_group].data.list_1"
                            class="md:px-2.5 px-[7.5px] w-1/3 md:min-w-[auto] min-w-[220px]"
                        >
                            <div class="w-full bg-opacity_white md:p-5 py-5 px-[22px] h-full flex items-start justify-center flex-col">
                                <p class="text-white leading-snug md:text-base text-sm">{{ item.title }}</p>
                                <p class="text-light_blue leading-snug md:text-[20px] text-lg font-bold mt-2">{{ item.value }} <span class="text-sm">{{ item.description }}</span></p>
                            </div>
                        </div>
                    </div>
                    <img class="w-full my-[21px] sm:block hidden" src="/src/assets/img/line.svg" alt="">
                    <img class="w-full my-[26px] block sm:hidden" src="/src/assets/img/line-mob.svg" alt="">
                    <div class="md:flex items-stretch justify-between -mx-2.5">
                        <div 
                            v-for="item in groups[active_group].data.list_2"
                            class="px-2.5 md:w-1/3 w-full md:mb-0 mb-[15px]"
                        >
                            <div class="w-full bg-opacity_white md:p-5 py-5 px-[22px] h-full flex items-start justify-center flex-col">
                                <p class="text-white leading-snug md:text-base text-sm">{{ item.title }}</p>
                                <p class="text-gold leading-snug md:text-[20px] text-lg font-bold md:mt-2 mt-1.5">{{ item.value }} <span class="md:text-sm text-lg">{{ item.description }}</span> </p>
                            </div>
                        </div>
                    </div>

                    <div class="w-full bg-opacity_white md:px-5 md:py-7 py-4 px-[22px] flex flex-wrap md:flex-nowrap items-center justify-between md:mt-6 mt-[15px]">
                        <p class="text-white md:text-2xl text-lg leading-snug">{{ groups[active_group].data.claim.title }}</p>
                        <p class="md:mr-auto md:ml-[25px] text-gold md:text-4xl text-lg font-bold leading-snug md:pr-4">{{ groups[active_group].data.claim.val }}</p>
                        <div class="w-full md:max-w-[218px]">
                            <a class="hexagon_btn block mx-auto md:mr-0 md:text-base text-sm w-full max-w-[293px] text-center mt-[15px] md:mt-0" href="#">
                                <div>claim</div>
                            </a>
                        </div>
                    </div>
                    <a class="underline text-white mt-[23px] inline-block md:text-base text-sm" href="#">Disconnect</a>
                </div>
                <div class="md:w-[30%] md:pl-4 w-full">
                    <img class="md:max-w-full md:w-auto w-[77.6%] max-w-[300px] mx-auto block" v-bind:src="groups[active_group].data.img_url" alt="">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        data: function(){
            return {
                active_group_btn: 'nft',
                groups_btn: {
                    nft: {
                        name: 'NFT',
                    },
                    token: {
                        name: 'Token',
                    }
                },
                active_group: 'GenesisProtector',
                groups: {
                    GenesisProtector : {
                        name: '<span class="md:inline hidden">Genesis</span> Protector',
                        data: {
                            title: 'Genesis Protector stake',
                            list_1: [
                                {
                                    title: 'Rewards:',
                                    value: '1 FCOB/A DAY'
                                },
                                {
                                    title: 'Total rewarded:',
                                    value: '37,800 FCOB'
                                },
                                {
                                    title: 'Total claimed:',
                                    value: '638 FCOB'
                                },
                            ],
                            list_2: [
                                {
                                    title: 'Your NFT’s:',
                                    value: '10'
                                },
                                {
                                    title: 'Your total claimed:',
                                    value: '330 FCOB',
                                    description: '(all previous claims)'
                                },
                                {
                                    title: 'Your released amount:',
                                    value: '609.15 FCOB'
                                },
                            ],
                            claim: {
                                title: 'Claimable now for you',
                                val: '600 FCOB'
                            },
                            img_url: new URL('/src/assets/img/red-char 2.png', import.meta.url).href,
                            bg_url: new URL('/src/assets/img/GenesisProtector.png', import.meta.url).href
                        }
                    },
                    GenesisForgotten : {
                        name: '<span class="md:inline hidden">Genesis</span> Forgotten',
                        data: {
                            title: 'Genesis Protector stake',
                            list_1: [
                                {
                                    title: 'Rewards:',
                                    value: '1 FCOB/A DAY'
                                },
                                {
                                    title: 'Total rewarded:',
                                    value: '37,800 FCOB'
                                },
                                {
                                    title: 'Total claimed:',
                                    value: '638 FCOB'
                                },
                            ],
                            list_2: [
                                {
                                    title: 'Your NFT’s:',
                                    value: '10'
                                },
                                {
                                    title: 'Your total claimed:',
                                    value: '330 FCOB',
                                    description: '(all previous claims)'
                                },
                                {
                                    title: 'Your released amount:',
                                    value: '609.15 FCOB'
                                },
                            ],
                            claim: {
                                title: 'Claimable now for you',
                                val: '600 FCOB'
                            },
                            img_url: new URL('/src/assets/img/yellow-char 2.png', import.meta.url).href,
                            bg_url: new URL('/src/assets/img/future-bg-1-full.png', import.meta.url).href
                        }
                    },
                    GenesisSatanic : {
                        name: '<span class="md:inline hidden">Genesis</span> Satanic',
                        data: {
                            title: 'Genesis Protector stake',
                            list_1: [
                                {
                                    title: 'Rewards:',
                                    value: '1 FCOB/A DAY'
                                },
                                {
                                    title: 'Total rewarded:',
                                    value: '37,800 FCOB'
                                },
                                {
                                    title: 'Total claimed:',
                                    value: '638 FCOB'
                                },
                            ],
                            list_2: [
                                {
                                    title: 'Your NFT’s:',
                                    value: '10'
                                },
                                {
                                    title: 'Your total claimed:',
                                    value: '330 FCOB',
                                    description: '(all previous claims)'
                                },
                                {
                                    title: 'Your released amount:',
                                    value: '609.15 FCOB'
                                },
                            ],
                            claim: {
                                title: 'Claimable now for you',
                                val: '600 FCOB'
                            },
                            img_url: new URL('/src/assets/img/image 2.png', import.meta.url).href,
                            bg_url: new URL('/src/assets/img/GenesisSatanik.png', import.meta.url).href
                        }
                    }
                }
            }
        }
    }
</script>

<style scoped>

.hexagon_btn div {
    padding-top: 13px;
    padding-bottom: 13px;
}

@media (max-width: 768px) {
    .hexagon_btn div {
        padding-top: 11px;
        padding-bottom: 10px;
    }
}

</style>