<template>
    <a class="cursor-pointer inline-flex items-center justify-between" @click="$router.go(-1)">
        <img src="/src/assets/img/Left.svg" alt="">
        <span class="ff-cinzel text-white font-bold md:text-2xl text-lg leading-snug whitespace-nowrap ml-3">go back</span>
    </a>
</template>

<script></script>