<template>
    <div v-show="is_show" class="bg-[#321253] py-5">
        <div class="_container relative">
            <p class="md:pr-12">
                <span class="text-white font-semibold leading-snug mr-[50px] lg:text-base text-sm pr-12 md:pr-0 inline-block">Connect your game account to enhance your gaming experience!</span>
                <br class="md:hidden">
                <a 
                    class="bg-bg_primary border border-blue text-white font-bold leading-snug py-2.5 px-[30px] md:inline-block hover:text-blue transition duration-500 lg:text-base text-sm md:mt-0 mt-4 md:w-auto w-full text-center block md:mx-0 mx-auto"
                    href="#"
                >Connect Account</a>
            </p>
            <button 
                class="w-[30px] h-[30px] close_btn border border-gray flex items-center justify-center absolute right-[15px] top-[5px]"
                @click="is_show = false"
            ></button>
        </div>
    </div>
</template>

<script>
export default {
    data: function(){
        return {
            is_show: true
        }
    }
}
</script>

<style scoped>
    .close_btn::before,
    .close_btn::after {
        content: '';
        position: absolute;
        width: 13px;
        height: 2px;
        background: #7A7379;
        transform: rotate(45deg);
        transition: .5s;
    }

    .close_btn::after {
        transform: rotate(-45deg);
    }

    .close_btn:hover::before {
        transform: rotate(-135deg);
    }

    .close_btn:hover::after {
        transform: rotate(135deg);
    }
</style>