<template>
    <form class="max-w-[410px] mx-auto mt-6" action="#">
        <div class="flex items-stretch justify-between mt-2">
            <div class="relative w-1/2">
                <p class="text-white text-[10px] absolute left-5 top-4 z-10">PRICE</p>
                <div 
                    class="text-white border border-opacity_white bg-transparent text-lg font-bold ff-cinzel py-2.5 px-5 w-full h-full text-right" 
                    style="background-image: url('/src/assets/img/future-bg 1.png')"
                >
                    <span class="title-gradient ff-cinzel text-lg font-bold">0.01 ETH</span>
                </div>
            </div>
            <a class="hexagon_btn text-center -mt-0.5 w-[45%] ml-2" href="#">
                <div>BUY NOW</div>
            </a>
        </div>
    </form>
</template>

<style scoped>
.hexagon_btn div {
    padding-top: 12px;
    padding-bottom: 12px;
}
</style>