<template>
    <div class="relative bg">
        <img class="absolute bottom-full right-[18px]" src="/src/assets/img/decor-top.svg" alt="">
        <img class="absolute left-full top-[18px]" src="/src/assets/img/decor-right.svg" alt="">
        <img class="absolute top-full left-[18px]" src="/src/assets/img/decor-bottom.svg" alt="">
        <img class="absolute right-full bottom-[18px]" src="/src/assets/img/decor-left.svg" alt="">
        <div class="bg-bg_primary">
            <slot></slot>
        </div>
    </div>
</template>

<script ></script>

<style scoped>

    .bg {
        background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
        padding: 2px;
    }

</style>