<template>
    <a v-bind:href="data.url??'#'" class="item_wrap relative block">
        <div class="external_border">
            <div class="bg-[#0F0517]"></div>
        </div>
        <div class="content">
            <div class="">
                <img class="absolute left-4 top-4 z-10" v-bind:src="data.icon" alt="">
                <img class="w-full" v-bind:src="data.img_url" alt="">
            </div>
            <h3 class="bg-[#0F0517] text-white ff-cinzel font-bold py-2 md:text-base text-sm">{{ data.name }}</h3>
        </div>

        <div  
            class="inset-0.5 absolute bg-bg_primary opacity-0 overlay flex items-center justify-center z-10 flex-col transition duration-500"

        >
            <a class="hexagon_btn ff-cinzel text-lg w-[calc(100%-20px)] mb-5" href="#">
                <div>Buy Now</div>
            </a>
            <a class="hexagon_btn ff-cinzel text-lg w-[calc(100%-20px)] purple" href="#">
                <div>Buy mistery box</div>
            </a>
        </div>

    </a>
</template>

<script>
    export default {
        props: ['data']
    }
</script>

<style scoped>
    .external_border {
        padding: 2px;
        background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
        clip-path: polygon(0 15px, 0 calc(100% - 15px), 15px calc(100% - 15px), 15px 100%, calc(100% - 15px) 100%, calc(100% - 15px) calc(100% - 15px), 100% calc(100% - 15px), 100% 15px, 100% calc(100% - 15px), 100% 15px, calc(100% - 15px) 15px, calc(100% - 15px) 0, 15px 0, 15px 15px);
        position: absolute;
        top: -6px;
        left: -8px;
        right: -8px;
        bottom: -6px;
    }

    .external_border div {
        width: 100%;
        height: 100%;
        clip-path: polygon(0 15px, 0 calc(100% - 15px), 15px calc(100% - 15px), 15px 100%, calc(100% - 15px) 100%, calc(100% - 15px) calc(100% - 15px), 100% calc(100% - 15px), 100% 15px, 100% calc(100% - 15px), 100% 15px, calc(100% - 15px) 15px, calc(100% - 15px) 0, 15px 0, 15px 15px);
    }

    .content {
        background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
        padding-bottom: 2px;
    }

    .content h3 {
        width: calc(100% - 4px);
        margin: 0 auto;
    }

    .item_wrap:hover .overlay {
        opacity: 1;
    }

    .hexagon_btn.purple {
        background: linear-gradient(270deg, #CDB0DB -6.64%, #5C3187 46.11%, #CEA2F0 64.16%, #4C2160 71.84%, #C695ED 88.26%, #391B57 103.63%, #A985BA 113.51%);
    }

    .hexagon_btn.purple div {
        background: #0F0517;
    }
</style>