<template>
    <a v-bind:href="data.url??'#'" class="item_wrap relative block hover_bg-gradient transition duration-500 hover:-translate-y-3">
        <div class="external_border">
            <div class="bg-bg_primary"></div>
        </div>
        <div class="content">
            <div 
                v-if="data.banner"
                class="absolute w-full right-0 top-0 banner_bg flex items-center justify-between md:p-[9px_25px_9px_14px] p-1.5 z-10"
            >
                <p class="text-gold md:text-sm text-[10px]">{{ data.banner.text }}</p>
                <p class="text-white md:text-xs text-[10px]">{{ data.banner.time }}</p>
            </div>
            <div class="bg-bg_primary">
                <img class="w-full" v-bind:src="data.img_url" alt="">
            </div>
            <div class="has_gradient_line line_top absolute bottom-[3px] right-[3px] left-[3px] flex items-center justify-between texts md:p-[15px] p-2">
                <div class="md:min-w-[44px] min-w-[30px] w-0">
                    <img class="w-full" v-bind:src="data.icon" alt="">
                </div>
                <div class="w-full md:pl-2">
                    <h3 class="text-white ff-cinzel font-bold md:text-base text-xs">{{ data.name }}</h3>
                    <div class="flex items-center justify-between flex-wrap">
                        <p class="text-gray md:text-sm text-[10px] relative bottom-0.5">{{ data.tag }}</p>
                        <p class="title-gradient ff-cinzel md:text-lg text-[10px] ml-2" v-if="data.price">{{ data.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</template>

<script>
    export default {
        props: ['data']
    }
</script>

<style scoped>
    .external_border {
        padding: 2px;
        background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
        clip-path: polygon(0 15px, 0 calc(100% - 15px), 15px calc(100% - 15px), 15px 100%, calc(100% - 15px) 100%, calc(100% - 15px) calc(100% - 15px), 100% calc(100% - 15px), 100% 15px, 100% calc(100% - 15px), 100% 15px, calc(100% - 15px) 15px, calc(100% - 15px) 0, 15px 0, 15px 15px);
        position: absolute;
        top: -6px;
        left: -8px;
        right: -8px;
        bottom: -6px;
    }

    .external_border div {
        width: 100%;
        height: 100%;
        clip-path: polygon(0 15px, 0 calc(100% - 15px), 15px calc(100% - 15px), 15px 100%, calc(100% - 15px) 100%, calc(100% - 15px) calc(100% - 15px), 100% calc(100% - 15px), 100% 15px, 100% calc(100% - 15px), 100% 15px, calc(100% - 15px) 15px, calc(100% - 15px) 0, 15px 0, 15px 15px);
    }

    .content {
        background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
        padding-bottom: 2px;
    }

    .texts {
        background: radial-gradient(41.16% 73.23% at 50% 50%, rgba(223, 202, 146, 0.16) 0%, rgba(29, 18, 15, 0.16) 100%), #17100E;
    }

    .banner_bg {
        background: radial-gradient(41.16% 73.23% at 50% 50%, rgba(223, 202, 146, 0.05) 0%, rgba(29, 18, 15, 0.05) 100%), rgba(255, 255, 255, 0.1)
    }

    .hover_bg-gradient:hover .bg-bg_primary {
        background: radial-gradient(41.16% 73.23% at 50% 50%, rgba(223, 203, 146, 0.429) 0%, rgba(29, 18, 15, 0.16) 100%), #17100E;
    }

</style>