<template>
    <form class="max-w-[410px] mx-auto mt-6" action="#">
        <p class="float-right text-white text-sm leading-snug mt-2">5d 10h 32m remaining</p>
        <h3 class="font-bold text-white text-2xl ff-cinzel">Place your bid</h3>

        <p class="text-white text-[10px] leading-snug mt-3">YOUR BID</p>
        <div class="flex items-stretch justify-between mt-2">
            <div class="relative w-1/2">
                <button class="absolute top-[calc(50%-12px)] w-6 h-6 text-4xl font-thin left-[22px] bg-opacity_white text-white z-10 flex items-center justify-center pb-1.5 pl-0.5">-</button>
                <input 
                    class="text-center text-white border border-opacity_white bg-transparent text-lg font-bold ff-cinzel p-3.5 w-full h-full" 
                    type="text"
                    style="background-image: url('/src/assets/img/future-bg 1.png')"
                    value="1.21 ETH"
                >
                <button class="absolute top-[calc(50%-12px)] w-6 h-6 text-3xl font-extralight right-[22px] bg-opacity_white text-white z-10 flex items-center justify-center">+</button>
            </div>
            <button class="hexagon_btn text-center block -mt-0.5 w-[45%] ml-2">
                <div>Place Bid</div>
            </button>
        </div>

        <div class="flex items-start justify-between border border-gray text-sm mt-5 pt-2 pb-4 px-4">
            <div class="">
                <p class="text-gray">Highest Current Bid</p>
                <p class="text-white text-base font-bold">1.2 ETH</p>
            </div>
            <div class="text-right">
                <p class="text-gray">Bit placed by:</p>
                <p class="text-light_blue">0xca778...09987987</p>
            </div>
        </div>

        <h3 class="font-bold text-white text-2xl ff-cinzel mt-9 mb-[17px]">Bids History</h3>
        <div class="text-sm">
            <div class="flex items-start justify-between text-gray mb-4">
                <p>Bid</p>
                <p>Bid placed by</p>
            </div>

            <div v-for="i=0 in 5" class="flex items-start justify-between text-gray mb-2.5">
                <p class="text-base text-white">{{ i }}.2 ETH</p>
                <p class="text-light_blue">0xca778...09987987</p>
            </div>

        </div>
    </form>
</template>

<style scoped>
.hexagon_btn div {
    padding-top: 12px;
    padding-bottom: 12px;
}
</style>