<template>
    <div 
        class="popup_wrap fixed inset-0 backdrop-blur-[2px] bg-[rgba(19,21,28,0.67)] z-[1000] text-center overflow-auto md:py-10 md:px-5" 
        v-bind:class="{'hidden': !is_show}"
        @click="this.switch()"
    >
        <div @click.stop class="md:rounded-[14px] text-left align-middle inline-block" v-bind:class="content_class">
            <div 
                @click="this.switch()" 
                class="close_btn cursor-pointer"
                v-bind:class="{
                    [close_position]: close_position!= undefined,
                    'top-[30px] right-[30px]': close_position==undefined
                }"
            ></div>
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['content_class', 'close_position'],
        data(){
            return {
                is_show: false
            }
        },
        methods: {
            switch: function(e) {
                if(!this.is_show) {
                    document.getElementsByTagName('body')[0].classList.add('overflow-hidden');
                } else {
                    document.getElementsByTagName('body')[0].classList.remove('overflow-hidden');
                }
                this.is_show = !this.is_show;
            }
        }
    }
</script>

<style scoped>
    .popup_wrap::after {
        content: '';
        height: 100%;
        width: 0;
        display: inline-block;
        vertical-align: middle;
        margin-left: -4px;
    }

    .close_btn {
        position: absolute;
        width: 30px;
        height: 30px;
        /* top: 30px; */
        /* right: 30px; */
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px #7A7379;
        z-index: 99;
    }

    .close_btn::before,
    .close_btn::after {
        content: '';
        width: 14px;
        height: 1px;
        position: absolute;
        transform: rotate(45deg);
        background: #7A7379;
    }

    .close_btn::after {
        transform: rotate(-45deg);
    }
</style>