<template>
    <form class="max-w-[410px] mx-auto mt-6" action="#">
        <h3 class="font-bold text-white text-2xl ff-cinzel">sell nft</h3>
        <p class="text-gray text-sm leading-snug mt-2.5">Choose the amount you want to </p>
        <div class="flex items-stretch justify-between mt-6 max-w-[386px]">
            <input class="text-center text-white border border-white bg-transparent w-1/2 max-w-[150px] text-sm p-3.5" type="text" value="0.02 ETH">
            <button class="hexagon_btn block text-center -mt-0.5 w-[56%] ml-2">
                <div>Sell nft</div>
            </button>
        </div>
    </form>
</template>

<style scoped>
.hexagon_btn div {
    padding-top: 12px;
    padding-bottom: 12px;
}
</style>