<template>
    <footer>
        <div class="bg-[#170621] pt-[68px] md:pb-[124px] pb-[80px]">
            <div class="_container flex items-start justify-between md:flex-nowrap flex-wrap">
                <div class="max-w-[350px] w-full md:mx-0 mx-auto mb-6">
                    <router-link to="/">
                        <img class="w-full max-w-[341px]" src="/src/assets/img/footer_logo.png" alt="">
                    </router-link>
                    <p class="text-gray hidden md:block">2022© Castle of Blackwater. All rights reserved</p>
                </div>
                <ul class="md:max-w-[510px] w-full columns-2 lg:pl-[56px] lg:pr-0 md:px-4 md:text-left text-center">
                    <li
                        class="w-full md:max-w-[150px] md:px-2 mb-4"
                        v-for="item in menu"
                    >
                        <a 
                            class="text-gray hover:text-white transition duration-500"
                            v-bind:href="item.url"
                        >{{ item.caption }}</a>
                    </li>
                </ul>
                <div class="lg:max-w-[266px] md:max-w-[200px] w-full pt-6 md:text-left text-center">
                    <h3 class="text-white mb-[18px] text-xl">Join our Community</h3>
                    <div class="flex items-center md:justify-start justify-center">
                        <a
                            class="mr-3 last:mr-0"
                            v-for="item in socials"
                            v-bind:href="item.url"
                        ><img v-bind:src="item.icon_url" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between _container">
            <p class="text-white text-xs ml-0.5">Member of the <b>Fair Play Collective.</b></p>
            <router-link class="md:ml-[52px] md:mr-0 mx-4 min-w-[110px]" to="/">
                <img class="w-full max-w-[110px]" src="/src/assets/img/footer_logo.png" alt="">
            </router-link>
            <p class="text-xs text-white">All rights reserved: <span class="text-[#842fdf] font-bold">Castle of Blackwater B.V.</span></p>
        </div>
        <p class="text-gray md:hidden block text-center py-3">2022© Castle of Blackwater. All rights reserved</p>

    </footer>
</template>

<script>
    export default {
        data: function(){
            return {
                menu: [
                    {
                        caption: 'Dashboard',
                        url: '#'
                    },
                    {
                        caption: 'Mystery Box',
                        url: '#'
                    },
                    {
                        caption: 'Buy',
                        url: '#'
                    },
                    {
                        caption: 'Rent',
                        url: '#'
                    },
                    {
                        caption: 'Staking',
                        url: '#'
                    },
                    {
                        caption: 'Inventory',
                        url: '#'
                    },
                    {
                        caption: 'Support',
                        url: '#'
                    },

                ],
                socials: [
                    {
                        url: '#',
                        icon_url: new URL('../assets/img/icon-tw.svg', import.meta.url).href
                    },
                    {
                        url: '#',
                        icon_url: new URL('../assets/img/icon-ds.svg', import.meta.url).href
                    }
                ]
            }
        }
    }
</script>

<style scoped>
</style>