<template>
    <header class="border-b border-[#2F2636] relative z-50">
        <div class="_container flex items-center justify-between -mb-px md:py-0 p-[6px_20px_10px_3px]">
            <router-link class="mt-1 ml-2 md:min-w-[180px] md:max-w-none max-w-[146px] logo" to="/pages">
                <img src="src/assets/img/logo.png">
            </router-link>

            <nav class="lg:w-full min-w-[310px] bg-bg_primary lg:bg-transparent max-w-[636px] mr-auto xl:pl-[66px] xl:pr-0 px-4 lg:block lg:opacity-100 lg:static absolute top-full right-0 transition duration-500"
                v-bind:class="{
                    'opacity-0 pointer-events-none lg:pointer-events-auto': !is_open_menu,
                }"
            >
                <ul class="flex items-stretch justify-between lg:flex-row flex-col">
                    <li v-for="item in menu">
                        <router-link 
                            class="lg:h-[70px] h-[40px] flex items-center justify-center px-4 text-gray font-semibold min-w-[90px] hover:md:-translate-y-2 transition duration-500 hover:text-white" 
                            :to="item.url"
                        >{{ item.caption }}</router-link>
                    </li>
                </ul>
            </nav>

            <a v-if="auth !=1" class="hexagon_btn ml-auto mr-8 md:text-base text-xs md:block hidden" href="#">
                <div>Connect wallet</div>
            </a>

            <button
                class="lg:hidden block p-px gradient_block w-[34px] h-[34px]"
                @click="is_open_menu = !is_open_menu"
            >
                <div 
                    v-bind:class="{'open':is_open_menu}"
                    class="flex items-center justify-center relative w-full h-full burger_menu"
                >
                    <span class="flex items-center justify-center absolute"></span>
                </div>
            </button>

            <div
                v-if="auth == 1" 
                class="relative"
            >
                <div class="avatar_wrap cursor-pointer" @click="auth_menu_open = !auth_menu_open">
                    <img class="w-[41px] aspect-square" src="/src/assets/img/avatar.png" alt="">
                </div>
                <div 
                    class="absolute gradient_block p-0.5 top-[calc(100%+4px)] lg:-right-4 -right-2 min-w-[250px] transition duration-500"
                    v-bind:class="{
                        'opacity-100': auth_menu_open,
                        'opacity-0 pointer-events-none': !auth_menu_open,
                    }"
                >
                    <div class="bg-bg_primary p-4 leading-snug">
                        <h3 class="text-white">Username</h3>
                        <div class="flex items-center justify-between mt-2">
                            <img class="min-w-[16px] w-4 aspect-square mr-1.5" src="/src/assets/img/icon-metamask.png" alt="">
                            <input type="text" readonly class="outline-0 border-none bg-transparent text-sm w-full text-gold" value="0x17918b7831...6082AC4676E5">
                            <img class="min-w-[20px] w-5 aspect-square ml-4" src="/src/assets/img/icon-copy.svg" alt="">
                        </div>
                        <div class="mt-2.5 bg-opacity_white px-3 py-4">
                            <p class="text-white text-sm">Balance</p>
                            <p class="text-gold text-xl font-bold mt-1">0 FCOB</p>
                            <p class="text-blue">0 USD</p>
                        </div>
                        <div>
                            <a class="flex items-center justify-start mt-3" href="#">
                                <img class="md:w-6 md:h-6 w-4 h-4" src="/src/assets/img/icon-logout.svg" alt="">
                                <span class="text-white hover:text-white transition duration-500 ml-2 text-sm">Account setting</span>
                            </a>
                            <a class="flex items-center justify-start mt-3" href="#">
                                <img class="md:w-6 md:h-6 w-4 h-4" src="/src/assets/img/icon-logout.svg" alt="">
                                <span class="text-white hover:text-white transition duration-500 ml-2 text-sm">Inventory</span>
                            </a>
                            <a class="flex items-center justify-start mt-3" href="#">
                                <img class="md:w-6 md:h-6 w-4 h-4" src="/src/assets/img/icon-logout.svg" alt="">
                                <span class="text-white hover:text-white transition duration-500 ml-2 text-sm">Logout</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
</template>

<script>
    export default {
        props: ['auth'],
        data(){
            return {
                is_open_menu: false,
                auth_menu_open: false,
                menu: [
                    {
                        caption: 'Dashboard',
                        url: '/'
                    },
                    {
                        caption: 'Mystery box',
                        url: '/mistery-box'
                    },
                    {
                        caption: 'Buy',
                        url: '/buy'
                    },
                    {
                        caption: 'Rent',
                        url: '/pages'
                    },
                    {
                        caption: 'Staking',
                        url: '/staking'
                    },
                ]
            }
        }
    }
</script>

<style scoped>

.router-link-active {
    color: white;
    background: radial-gradient(41.16% 73.23% at 50% 50%, rgba(223, 202, 146, 0.1) 0%, rgba(29, 18, 15, 0.1) 100%);
    position: relative;
    pointer-events: none;
}

.router-link-active::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
}

.burger_menu span,
.burger_menu span::before,
.burger_menu span::after {
    content: '';
    width: 16px;
    height: 2px;
    background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
    position: absolute;
    transition: .5s;
}

.burger_menu span::before {
    top: -5px;
}

.burger_menu span::after {
    bottom: -5px;
}

.burger_menu.open span {
    background: transparent;
}

.burger_menu.open span::before {
    top: 0;
    transform: rotate(45deg);
}

.burger_menu.open span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.logo::after {
    content: none;
}

.gradient_block > .burger_menu {
    background: radial-gradient(41.16% 73.23% at 50% 50%, rgba(223, 202, 146, 0.16) 0%, rgba(29, 18, 15, 0.16) 100%), #17100E;
}

.avatar_wrap {
    padding: 2px;
    background: linear-gradient(315deg, #DBCEB0 -31.91%, #875E31 26.56%, #F0DCA2 46.57%, #604121 55.08%, #EDD995 73.28%, #573A1B 90.31%, #BAAA85 101.27%)
}

</style>