@import "./base.css";

._container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1310px;
}

body {
    background: #0F0517;
}

.hexagon_btn {
    font-family: Cinzel, 'Open Sans', sans-serif;
    background: linear-gradient(270deg, #DBCEB0 0%, #875E31 43.28%, #F0DCA2 58.09%, #604121 64.39%, #EDD995 77.86%, #573A1B 90.47%, #BAAA85 98.58%);
    padding: 2px;
    clip-path: polygon(19px 0, calc(100% - 19px ) 0, 100% 50%, calc(100% - 19px) 100%, 19px 100%, 0 50%);
    white-space: nowrap;
    transition: .5s;
}

.hexagon_btn:hover {
    background: white;
}

.hexagon_btn div {
    padding: 7px 35px;
    color: #D7C181;
    background: radial-gradient(41.16% 73.23% at 50% 50%, rgba(223, 202, 146, 0.16) 0%, rgba(29, 18, 15, 0.16) 100%), #17100E;
    clip-path: polygon(19px 0, calc(100% - 19px ) 0, calc(100% - 1px) 50%, calc(100% - 19px) 100%, 19px 100%, 1px 50%);
    transition: .5s;
}

.hexagon_btn:hover div {
    color: white;
}

.title-gradient {
    background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.carousel__viewport {
    overflow: visible !important;
}

.carousel__slide {
    transition: .5s;
}

.carousel__slide:not(.carousel__slide--visible) {
    opacity: .5;
    pointer-events: none;
}

button.active {
    pointer-events: none;
}

.has_gradient_line::after,
button.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: linear-gradient(108.65deg, #59451F 0.18%, #D7BE7E 47.85%, #7B5E2E 100.75%);
    bottom: 0;
    right: 0;
}

button:not(.transition):not(.close_btn):hover {
    transition: .5s;
    transform: translateY(-10%);
    color: white;
}

.has_gradient_line.line_top::after {
    bottom: unset;
    top: 0;
    height: 2px;
}

.hide_scrollbar::-webkit-scrollbar {
    display: none;
}

.gradient_block {
    background: linear-gradient(134.45deg, #DFD099 0%, #574321 77.21%);
}






/* width */
.popup_wrap *::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.popup_wrap *::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.popup_wrap *::-webkit-scrollbar-thumb {
    background: #842FDE;
}

/* Handle on hover */
.popup_wrap *::-webkit-scrollbar-thumb:hover {
    background: #984aec;
}