<script setup>
import { RouterLink, RouterView } from 'vue-router'
import vHeader from '@/components/vHeader.vue'
import vFooter from '@/components/vFooter.vue'
</script>

<template>
  <vHeader/>

  <RouterView />

  <vFooter/>
</template>

<style>
</style>
